.marketplace {
  position: relative;
  margin: 0 0 144px 0;
  padding: 180px 0 0 0;

  &:before {
    content: '';
    position: absolute;
    top: -58px;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 240vw 196px 0;
    border-color: transparent #fff transparent transparent;
  }

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    width: 120vw;
    height: 100%;
    background: linear-gradient(184.69deg, #FFFFFF 7.3%, rgba(213, 215, 229, 0.39) 45.59%);
    transform: translateX(-50%) rotate(-3deg);
    opacity: .5;
  }

  &__title {
    position: relative;
    z-index: 2;
    max-width: 672px;
    margin: 0 0 61px 0;

    p {
      font-weight: 400;
      margin: 24px 0 0 0;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    display: flex;

    &_logos {
      flex: 0 1 255px;
      margin: 0 46px 0 91px;

      ul {
        margin: -15px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        li {
          height: 128px;
        }
      }
    }

    .subscription-card {
      flex: 0 1 699px;
    }
  }
}

@media (max-width: 1023px) {
  .marketplace {
    margin: 100px 0 80px;
    padding: 0;

    &:before {
      display: none;
    }

    &__title {
      margin: 0 0 32px 0;
    }

    &__content {
      flex-direction: column;

      &_logos {
        flex: initial;
        margin: 0 0 24px;

        ul {
          margin: -12px;
          flex-direction: initial;

          li {
            height: 96px;
            margin: 12px;
            width: calc((100% - (12px * 4)) / 2);
          }
        }
      }

      .subscription-card {
        flex: initial;
        width: 100%;
      }
    }
  }
}