.subscription {
  position: relative;
  z-index: 2;
  margin: -230px 0 0;

  &__list-top {
    display: flex;

    &_item {
      box-shadow: 0 0 40px rgba(108, 123, 170, 0.15);
      border-radius: 8px;
      background-color: $color-white;
      flex: 0 1 50%;
      align-self: flex-start;

      p {
        margin: 24px 0 0 0;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;

        &:last-of-type {
          padding: 0 0 0 56px;
          background-image: url("../img/customers/commas.svg");
          background-repeat: no-repeat;
          background-size: 32px 22px;
          background-position: left top;
        }

        strong {
          margin: 16px 0 0 0;
          display: block;
          font-size: 14px;
          line-height: 18px;
          font-weight: 500;
          color: $color-dark-gray-900;
        }

        small {
          color: $color-gray-secondary;
          display: block;
          font-size: 14px;
          line-height: 18px;
          font-weight: 400;
        }
      }

      a {
        display: inline-block;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        color: $color-white;
        padding: 12px 16px;
        background-color: $color-royal-blue-800;
        border-radius: 4px;
        transition: 500ms;
        @media (min-width: 1200px) {
          &:hover{
            background-color: $color-punchy-green;
          }
        }
      }

      &.large {
        margin: 0 30px 0 0;
        padding: 44px 54px;

        img {
          height: 35px;
        }

        a {
          margin: 48px 0 0 0;
        }
      }

      &.small {
        display: flex;
        justify-content: space-between;
        padding: 44px 39px;

        a {
          margin: 24px 0 0 0;
        }

        .small {
          &__left {
            flex: 0 1 282px;

            img {
              display: block;
              height: 29px;
            }
          }

          &__right {
            flex: 0 0 154px;
            height: 154px;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }

  &__list-bottom {
    max-width: 826px;
    box-sizing: content-box;
    margin: 27px 0 80px;
    padding: 0 0 0 26%;

    ul {
      margin: -15px;
      display: flex;
      flex-wrap: wrap;
      height: 442px;


      li {
        margin: 15px;
        width: calc((100% - (15px * 6)) / 3);
        height: calc((100% - (15px * 6)) / 3);
        background-color: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 0px 40px rgba(108, 123, 170, 0.1);

        img {
          max-height: 53px;
          max-width: 100%;
          object-fit: contain;
        }

        &:nth-child(2), &:nth-child(3) {
          margin: -80px 15px 15px 15px;
        }

        &:nth-child(5) {
          margin: -153px 15px 15px 15px;
        }

        &:nth-child(4), {
          margin: -153px 15px 15px 300px;
        }

        &:nth-child(6), {
          margin: -80px 15px 15px 586px;
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .subscription {
    margin: -121px 0 0;

    &__list-top {
      flex-direction: column;

      &_item {
        flex: initial;
        align-self: initial;

        &.small {
          .small {
            &__left {
              margin: 0 30px 0 0;
              flex: initial;
            }
          }
        }

        &.large {
          margin: 0 0 24px 0;
        }
      }
    }

    &__list-bottom {
      padding: 0;
      max-width: 100%;

      ul {
        height: initial;

        li {
          height: 96px;

          &:nth-child(2), &:nth-child(3) {
            margin: 15px;
          }

          &:nth-child(5) {
            margin: 15px;
          }

          &:nth-child(4), {
            margin: 15px;
          }

          &:nth-child(6), {
            margin: 15px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .subscription {
    &__list-top {
      &_item {
        position: relative;

        p {
          &:last-of-type {
            padding: 38px 0 0 0;
            background-repeat: no-repeat;
            background-position: left top;
          }
        }

        &.large {
          padding: 20px;
        }

        &.small {
          padding: 20px;

          .small {
            &__left {
              margin: 0;

              img {
                margin: 34px 0 34px auto;
              }

              img + p {
                margin: 60px 0 0 0;
              }
            }

            &__right {
              position: absolute;
              top: 20px;
              left: 20px;
              flex: initial;
              height: 98px;
              width: 98px;
            }
          }
        }
      }
    }

    &__list-bottom {
      ul {
        margin: -12px;

        li {
          width: calc((100% - (12px * 4)) / 2);
          margin: 12px;

          &:nth-child(2), &:nth-child(3) {
            margin: 12px;
          }

          &:nth-child(5) {
            margin: 12px;
          }

          &:nth-child(4), {
            margin: 12px;
          }

          &:nth-child(6), {
            margin: 12px;
          }
        }
      }
    }
  }
}

@media (max-width: 374px) {
  .subscription {
    &__list-top {
      &_item {
        &.small {
          .small {
            &__left {
              img {
                width: 50%;
              }
            }
          }
        }

        a {
          font-size: 12px;
          line-height: 14px;
        }
      }
    }
  }
}