.subscription {
  position: relative;
  z-index: 2;

  &__title {
    margin: 104px auto 0;
    max-width: 718px;

    h3 {
      text-align: center;
      color: $color-white;
    }

    p {
      color: $color-dark-gray-600;
      margin: 24px 0 0 0;
      font-weight: 400;
      text-align: center;
    }
  }

  &__list-top {
    display: flex;
    margin: 74px 0 0 0;
  }

  &__list-bottom {
    max-width: 826px;
    box-sizing: content-box;
    margin: 27px 0 0;
    padding: 0 0 0 26%;

    ul {
      margin: -15px;
      display: flex;
      flex-wrap: wrap;
      height: 442px;


      li {
        width: calc((100% - (15px * 6)) / 3);
        height: calc((100% - (15px * 6)) / 3);

        &:nth-child(2), &:nth-child(3) {
          margin: -80px 15px 15px 15px;
        }

        &:nth-child(5) {
          margin: -153px 15px 15px 15px;
        }

        &:nth-child(4), {
          margin: -153px 15px 15px 300px;
        }

        &:nth-child(6), {
          margin: -80px 15px 15px 586px;
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .subscription {

    &__list-top {
      flex-direction: column;
    }

    &__list-bottom {
      padding: 0;
      max-width: 100%;

      ul {
        height: initial;

        li {
          height: 96px;

          &:nth-child(2), &:nth-child(3) {
            margin: 15px;
          }

          &:nth-child(5) {
            margin: 15px;
          }

          &:nth-child(4), {
            margin: 15px;
          }

          &:nth-child(6), {
            margin: 15px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .subscription {
    &__title{
      margin: 48px 0 0 0;
    }
    &__list-top{
      margin: 32px 0 0 0;
    }
    &__list-bottom {
      ul {
        margin: -12px;

        li {
          width: calc((100% - (12px * 4)) / 2);
          margin: 12px;

          &:nth-child(2), &:nth-child(3) {
            margin: 12px;
          }

          &:nth-child(5) {
            margin: 12px;
          }

          &:nth-child(4), {
            margin: 12px;
          }

          &:nth-child(6), {
            margin: 12px;
          }
        }
      }
    }
  }
}
