.anchor-list {
  position: relative;
  margin: 136px auto 0;
  max-width: 825px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
  transition: 300ms;

  &.menu {
    position: fixed;
    top: -100px;
    left: 0;
    z-index: 9;
    margin: 0;
    padding: 16px 0 0 0;
    width: 100vw;
    max-width: 100vw;
    background-color: $color-royal-blue-800;
  }

  &.active {
    top: 80px;
    @media (max-width: 1199px) {
      top: 57px;
    }
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: $color-dark-gray-600;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  ul {
    position: relative;
    display: flex;


    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background: $color-dark-gray-600;
    }

    li {
      white-space: nowrap;
      position: relative;
      margin: 0 48px 0 0;
      color: $color-dark-gray-600;
      padding: 0 0 16px 0;
      transition: 500ms;

      @media (min-width: 1200px) {
        &:hover {
          color: $color-punchy-green-800;

          a {
            color: $color-punchy-green-800;
          }
        }
      }

      &.active {
        color: $color-punchy-green-800;

        a {
          color: $color-punchy-green-800;
        }

        &:before {
          background-color: $color-punchy-green-800;
        }
      }

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
      }

      a {
        color: $color-dark-gray-600;
        transition: 500ms;
      }

      &:last-child {
        margin: 0;
      }
    }
  }

  @media (max-width: 767px) {
    position: relative;
    left: 25px;
    margin: 136px 0 0 -25px;
    justify-content: flex-start;
    &.active{
      ul{
        padding: 0 25px;

      }
    }
    ul {
      padding: 0 25px 0 0;
    }
  }
}
