.button {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: $color-white;
  padding: 12px 16px;
  border-radius: 4px;
  transition: 500ms;

  &._green {
    background: $color-punchy-green;
  }

  @media (min-width: 1200px) {
    &:hover {
      &._green {
        background: $color-dark-blue;
      }
    }
  }
}