.footer {
  background: $color-royal-blue-800;

  &__content {
    display: flex;
    padding: 64px 0 0 0;

    .description {
      max-width: 271px;
      margin: 0 192px 0 0;

      &__logo {
        width: 96px;
        height: 24px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      &__paragraph {
        margin: 16px 0 0 0;

        p {
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;
          color: $color-gray-secondary;
        }
      }

      &__social {
        margin: 72px 0 0 0;
        display: flex;

        li {
          width: 24px;
          height: 24px;
          margin: 0 16px 0 0;

          &:last-child {
            margin: 0;
          }

          a {
            display: block;

            svg {
              fill: $color-white;
              width: 24px;
              height: 24px;
              transition: 500ms;
            }

            @media (min-width: 1200px) {
              &:hover {
                svg{
                  fill: $color-punchy-green-800;
                }
              }
            }
          }
        }
      }
    }

    .navigation {
      display: flex;

      &__list-items {
        p {
          text-transform: uppercase;
          font-size: 16px;
          line-height: 24px;
          font-weight: 500;
          color: $color-punchy-green-800;
          margin: 0 0 16px 0;
        }

        li {
          margin: 0 0 4px 0;

          &:last-child {
            margin: 0;
          }

          a {
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            color: $color-white;
            transition: 500ms;
            @media (min-width: 1200px) {
              &:hover {
                color: $color-punchy-green-800;
              }
            }
          }
        }

        &.sidebar {
          margin: 0 70px 0 0;
          max-width: 185px;
          width: 100%;
        }
      }

      > ul {
        display: flex;
        flex-wrap: wrap;
        margin: -25px -40px;

        > li {
          margin: 25px 40px;

          &:nth-child(2n + 1) {
            width: 100%;
            max-width: 206px;
          }
        }
      }
    }
  }

  &__bottom {
    margin: 61px 0 0 0;
    border-top: 1px solid #70727E;
    padding: 8px 0 28px;

    p {
      font-size: 12px;
      line-height: 20px;
      font-weight: 400;
    }
  }
}