.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  background: $color-royal-blue-800;

  &__content {
    display: flex;
    align-items: center;

    &_logo {
      flex: 0 0 106px;
      height: 31px;

      a {
        display: block;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    &_login {
      position: relative;
      color: $color-white;
      font-size: 16px;
      line-height: 24px;
      padding: 0 0 0 22px;
      height: 24px;
      transition: 500ms;

      svg {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        height: 16px;
        fill: $color-white;
        transition: 500ms;
      }

      @media (min-width: 1200px) {
        &:hover {
          color: $color-punchy-green;

          svg {
            fill: $color-punchy-green;
          }
        }
      }
    }

    .navigation {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 0 25px 0 70px;

      &__links {
        display: flex;
        padding: 28px 0 0 0;

        > li {
          cursor: pointer;
          padding: 0 0 28px 0;
          margin: 0 32px 0 0;
          transition: 500ms;

          &.submenu {
            position: relative;
            padding: 0 24px 28px 0;

            &:before {
              content: '';
              position: absolute;
              top: 9px;
              right: 6px;
              width: 8px;
              height: 8px;
              display: inline-block;
              border: {
                color: $color-white;
                width: 2px;
                top: {
                  style: solid;
                };
                left: {
                  style: solid;
                };
              };
              aspect: {
                ratio: 1
              };
              transform: translateY(-50%) rotate(-135deg);
              transition: 300ms;
            }

            .dropdown-menu {
              position: fixed;
              opacity: 0;
              pointer-events: none;
              top: 80px;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba($color-dark-gray-800, 0.5);
              transition: 500ms;

              &__submenu {
                position: absolute;
                display: flex;
                top: 0;
                left: 50%;
                transform: translateX(-50%) translateY(50px);
                transition: 500ms;

                &_list {
                  display: flex;
                  justify-content: space-between;
                  width: 763px;
                  border-radius: 2px;
                  padding: 32px 33px 64px;
                  background: $color-white;

                  &.small {
                    width: 363px;
                    background: #FAFAFB;
                  }

                  li {
                    max-width: 313px;
                    min-height: 84px;

                    p {
                      font-size: 16px;
                      line-height: 24px;
                      font-weight: 400;
                      color: $color-dark-gray-800;
                      margin: 0 0 16px 0;
                      opacity: 0.8;
                    }

                    ul {
                      li {
                        a {
                          display: flex;

                          &:hover {
                            p {
                              strong {
                                color: $color-punchy-green-800;
                              }
                            }

                            &._yellow-link {
                              p {
                                strong {
                                  color: $color-bright-orange;
                                }
                              }
                            }

                            &._punchy-link {
                              p {
                                strong {
                                  color: $color-punchy-green;
                                }
                              }
                            }
                          }

                          span {
                            flex: 0 0 42px;
                            height: 42px;
                            margin: 0 16px 0 0;

                            img {
                              border-radius: 4px;
                              width: 100%;
                              height: 100%;
                              object-fit: cover;
                            }
                          }

                          p {
                            display: flex;
                            flex-direction: column;

                            strong {
                              font-size: 16px;
                              line-height: 24px;
                              font-weight: 400;
                              color: $color-royal-blue-800;
                              margin: 0 0 4px 0;
                              transition: 500ms;
                            }

                            small {
                              font-size: 12px;
                              line-height: 20px;
                              font-weight: 400;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          &:last-child {
            margin: 0;
          }

          > a, > p {
            font-size: 16px;
            line-height: 24px;
            color: $color-white;
            transition: 500ms;
          }

          &:hover {
            @media (min-width: 1200px) {
              > a, > p {
                color: $color-punchy-green;
              }

              &.submenu {
                .dropdown-menu {
                  opacity: 1;
                  pointer-events: initial;

                  &__submenu {
                    transform: translateX(-50%) translateY(0);
                  }
                }

                &:before {
                  border: {
                    color: $color-punchy-green;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}