.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  transition: 500ms;
  @media (min-width: 1200px) {
    &.hide {
      background: $color-royal-blue-800;
    }
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;

    &_logo {
      flex: 0 0 106px;
      height: 31px;

      a {
        display: block;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    &_login {
      position: relative;
      color: $color-white;
      font-size: 16px;
      line-height: 24px;
      padding: 0 0 0 22px;
      height: 24px;
      transition: 500ms;

      svg {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        height: 16px;
        fill: $color-white;
        transition: 500ms;
      }

      @media (min-width: 1200px) {
        &:hover {
          color: $color-punchy-green;

          svg {
            fill: $color-punchy-green;
          }
        }
      }
    }

    &_cross {
      @media (min-width: 1200px) {
        display: none;
      }
      position: absolute;
      z-index: 2;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      width: 24px;
      height: 15px;

      span {
        position: absolute;
        width: inherit;
        height: 2px;
        background-color: $color-white;
        left: 0;
        transition: 500ms;

        &:first-child {
          top: 0;
        }

        &:nth-child(2) {
          top: 50%;
          transform: translateY(-50%);
        }

        &:last-child {
          top: initial;
          bottom: 0;
        }
      }

    }

    .navigation {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 0 25px 0 70px;

      &__links {
        display: flex;
        padding: 28px 0 0 0;

        > li {
          padding: 0 0 28px 0;
          margin: 0 32px 0 0;
          transition: 500ms;

          &.submenu {
            position: relative;
            padding: 0 24px 28px 0;

            &:before {
              content: '';
              position: absolute;
              top: 9px;
              right: 6px;
              width: 8px;
              height: 8px;
              display: inline-block;
              border: {
                color: $color-white;
                width: 2px;
                top: {
                  style: solid;
                };
                left: {
                  style: solid;
                };
              };
              aspect: {
                ratio: 1
              };
              transform: translateY(-50%) rotate(-135deg);
              transition: 300ms;
            }

            .dropdown-menu {
              position: fixed;
              opacity: 0;
              pointer-events: none;
              top: 80px;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba($color-dark-gray-800, 0.5);
              transition: 500ms;

              &__submenu {
                position: absolute;
                display: flex;
                top: 0;
                left: 50%;
                transform: translateX(-50%) translateY(50px);
                transition: 500ms;

                .back-list {
                  display: none;
                }

                &_list {
                  display: flex;
                  justify-content: space-between;
                  width: 763px;
                  border-radius: 2px;
                  padding: 32px 33px 64px;
                  background: $color-white;

                  &.small {
                    width: 363px;
                    background: #FAFAFB;
                  }

                  li {
                    max-width: 313px;
                    min-height: 84px;

                    .plus {
                      display: none;
                    }

                    p {
                      font-size: 16px;
                      line-height: 24px;
                      font-weight: 400;
                      color: $color-dark-gray-800;
                      margin: 0 0 16px 0;
                      opacity: 0.8;
                    }

                    ul {
                      li {
                        a {
                          display: flex;

                          @media (min-width: 1200px) {
                            &:hover {
                              p {
                                strong {
                                  color: $color-punchy-green-800;
                                }
                              }

                              &._yellow-link {
                                p {
                                  strong {
                                    color: $color-bright-orange;
                                  }
                                }
                              }

                              &._punchy-link {
                                p {
                                  strong {
                                    color: $color-punchy-green;
                                  }
                                }
                              }
                            }
                          }

                          span {
                            flex: 0 0 42px;
                            height: 42px;
                            margin: 0 16px 0 0;

                            img {
                              border-radius: 4px;
                              width: 100%;
                              height: 100%;
                              object-fit: cover;
                            }
                          }

                          p {
                            display: flex;
                            flex-direction: column;

                            strong {
                              font-size: 16px;
                              line-height: 24px;
                              font-weight: 400;
                              color: $color-royal-blue-800;
                              margin: 0 0 4px 0;
                              transition: 500ms;
                            }

                            small {
                              font-size: 12px;
                              line-height: 20px;
                              font-weight: 400;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          &:last-child {
            margin: 0;
          }

          > a, > p {
            cursor: pointer;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: $color-white;
            transition: 500ms;
          }

          &:hover {
            @media (min-width: 1200px) {
              > a, > p {
                color: $color-punchy-green;
              }

              &.submenu {
                .dropdown-menu {
                  opacity: 1;

                  &__submenu {
                    pointer-events: initial;
                    transform: translateX(-50%) translateY(0);
                  }
                }

                &:before {
                  border: {
                    color: $color-punchy-green;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .header {
    &.hide {
      .header {
        &__content {
          &:before {
            content: '';
            background: $color-royal-blue-800;
          }
        }
      }
    }

    &.active {
      .header {
        &__content {
          .navigation {
            right: 0;
          }

          &_cross {
            span {
              &:nth-child(1) {
                top: 50%;
                transform: translateY(-50%) rotateZ(45deg);
              }

              &:nth-child(2) {
                left: -10px;
                opacity: 0;
              }

              &:nth-child(3) {
                bottom: 50%;
                transform: translateY(50%) rotateZ(-45deg);
              }
            }
          }
        }
      }
    }

    &__content {
      position: relative;
      justify-content: space-between;
      padding: 13px 0;

      &:before {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height: 57px;
        transition: 500ms;
      }

      &_logo, &_login {
        position: relative;
        z-index: 2;
      }

      &_login {
        margin: 0 50px 0 0;
      }

      .navigation {
        position: fixed;
        flex-direction: column;
        background: $color-white;
        width: 100%;
        height: calc(100% - 57px);
        top: 57px;
        right: 100vw;
        margin: 0;
        padding: 26px 25px 24px;
        max-height: calc(100% - 57px);
        overflow-y: auto;
        transition: 300ms ease-in-out;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }

        &__links {
          padding: 0;
          flex-direction: column;
          width: 100%;
          margin: 0 0 50px 0;

          > li {
            padding: 16px 0;
            margin: 0;
            border-bottom: 1px solid #F3F2F3;

            > a, p {
              font-size: 20px;
              line-height: 24px;
              opacity: 0.8;
              color: $color-dark-gray-800;
              font-weight: 500;
            }

            &.submenu {
              padding: 16px 32px 16px 0;

              &:before {
                top: 50%;
                transform: translateY(-50%) rotate(135deg);
                border: {
                  color: #A9ABB6;
                }
              }

              .dropdown-menu {
                top: 57px;
                z-index: 3;
                opacity: 1;
                overflow-y: auto;
                pointer-events: initial;
                background: $color-white;
                height: calc(100% - 57px);
                transform: translateX(-100vw);
                transition: 300ms ease-in;
                scrollbar-width: none;

                &::-webkit-scrollbar {
                  display: none;
                }

                &.active-menu {
                  transform: translateX(0);
                }

                &__submenu {
                  flex-direction: column;
                  overflow-y: auto;
                  top: 0;
                  left: 0;
                  transform: initial;
                  width: 100%;
                  padding: 61px 25px;

                  .back-list {
                    position: relative;
                    display: block;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;
                    color: $color-dark-gray-800;
                    opacity: .8;
                    margin: 0 0 23px 0;
                    padding: 0 0 0 24px;

                    &:before {
                      content: '';
                      position: absolute;
                      top: 50%;
                      left: 3px;
                      width: 8px;
                      height: 8px;
                      display: inline-block;
                      border: {
                        color: #A9ABB6;
                        width: 2px;
                        top: {
                          style: solid;
                        };
                        left: {
                          style: solid;
                        };
                      };
                      aspect: {
                        ratio: 1
                      };
                      transform: translateY(-50%) rotate(-45deg);
                    }
                  }

                  &_list {
                    flex-direction: column;
                    width: 100%;
                    padding: 0;

                    &.small {
                      background: $color-white;
                      width: 100%;
                    }

                    > li {
                      position: relative;
                      width: 100%;
                      padding: 16px 20px 16px 0;
                      border-bottom: 1px solid #F3F2F3;
                      min-height: initial;
                      max-width: initial;

                      &.active {
                        .plus {
                          &:after {
                            background: $color-punchy-green-800;
                            transform: translateX(-50%) rotate(90deg);
                          }

                          &:before {
                            background: $color-punchy-green-800;
                          }
                        }

                        > p {
                          color: $color-punchy-green-800;
                        }
                      }

                      .plus {
                        position: absolute;
                        pointer-events: none;
                        right: 0;
                        top: 20px;
                        display: block;
                        width: 16px;
                        height: 16px;
                        opacity: .8;

                        &:before {
                          content: '';
                          position: absolute;
                          width: 16px;
                          height: 2px;
                          top: 50%;
                          left: 0;
                          transform: translateY(-50%);
                          background: $color-dark-gray-800;
                        }

                        &:after {
                          content: '';
                          position: absolute;
                          height: 16px;
                          width: 2px;
                          left: 50%;
                          top: 0;
                          transform: translateX(-50%);
                          background: $color-dark-gray-800;
                          transition: 300ms;
                        }
                      }

                      > p {
                        font-size: 20px;
                        line-height: 24px;
                        margin: 0;
                        font-weight: 500;
                        transition: 300ms;
                      }

                      ul {
                        max-height: 0px;
                        transition: 300ms;
                        overflow: hidden;

                        li {
                          border-bottom: initial;

                          &:first-child {
                            padding: 32px 0 0 0;
                          }
                        }
                      }
                    }
                  }
                }
              }

            }
          }
        }

        .button {
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}