.partners {
  display: flex;

  &.center {
    justify-content: center;
  }

  li {
    flex: 0 0 80px;
    height: 30px;
    margin: 0 64px 0 0;

    &:last-child {
      margin: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

@media (max-width: 1199px) {
  .partners {
    overflow: auto;
    flex-wrap: nowrap;
    width: 100%;
    scrollbar-width: none;

    li {
      margin: 0 40px 0 0;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media(max-width: 1023px){
  .partners{
    &.center{
      justify-content: initial;
    }
  }
}