.hero-blog {
  margin: 56px 0 110px;

  &.single {
    .hero-blog {
      &__content {
        flex-direction: column;

        &_img {
          margin: 48px 0 0 0;
          order: 2;
          flex: initial;
        }
        .description{
          flex: initial;
        }
      }
    }
  }

  &__content {
    display: flex;

    &_img {
      flex: 0 1 50%;
      margin: 0 72px 0 0;

      img {
        border-radius: 8px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .description {
      flex: 0 1 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__top {
        margin: 0 0 32px 0;
      }

      &__content {
        h2 {
          margin: 0 0 24px 0;
        }

        p {
          font-weight: 400;
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .hero-blog {
    margin: 23px 0 42px;

    &__content {
      flex-direction: column;

      &_img, .description {
        flex: initial;
      }

      &_img {
        height: 321px;
        margin: 0 0 32px 0;
      }

      .description {
        &__top {
          margin: 0 0 16px 0;
        }

        &__content {
          h2 {
            margin: 0 0 16px 0;
          }
        }
      }
    }
  }
}