* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Poppins", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1115px;
  padding: 0px 25px;
  margin: 0px auto;
  box-sizing: content-box;
}

.root {
  padding: 80px 0 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  color: #22338A;
}

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #878787;
}

h1,
.h1 {
  font-size: 56px;
  font-weight: 600;
  line-height: 64px;
}

h2,
.h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 36px;
}

h3,
.h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  transition: 500ms;
}

.header__content {
  position: relative;
  display: flex;
  align-items: center;
}

.header__content_logo {
  flex: 0 0 106px;
  height: 31px;
}

.header__content_logo a {
  display: block;
}

.header__content_logo a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__content_login {
  position: relative;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  padding: 0 0 0 22px;
  height: 24px;
  transition: 500ms;
}

.header__content_login svg {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 16px;
  fill: #fff;
  transition: 500ms;
}

.header__content_cross {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 24px;
  height: 15px;
}

.header__content_cross span {
  position: absolute;
  width: inherit;
  height: 2px;
  background-color: #fff;
  left: 0;
  transition: 500ms;
}

.header__content_cross span:first-child {
  top: 0;
}

.header__content_cross span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.header__content_cross span:last-child {
  top: initial;
  bottom: 0;
}

.header__content .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 25px 0 70px;
}

.header__content .navigation__links {
  display: flex;
  padding: 28px 0 0 0;
}

.header__content .navigation__links > li {
  padding: 0 0 28px 0;
  margin: 0 32px 0 0;
  transition: 500ms;
}

.header__content .navigation__links > li.submenu {
  position: relative;
  padding: 0 24px 28px 0;
}

.header__content .navigation__links > li.submenu:before {
  content: "";
  position: absolute;
  top: 9px;
  right: 6px;
  width: 8px;
  height: 8px;
  display: inline-block;
  border-color: #fff;
  border-width: 2px;
  border-top-style: solid;
  border-left-style: solid;
  aspect-ratio: 1;
  transform: translateY(-50%) rotate(-135deg);
  transition: 300ms;
}

.header__content .navigation__links > li.submenu .dropdown-menu {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(135, 135, 135, 0.5);
  transition: 500ms;
}

.header__content .navigation__links > li.submenu .dropdown-menu__submenu {
  position: absolute;
  display: flex;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50px);
  transition: 500ms;
}

.header__content .navigation__links > li.submenu .dropdown-menu__submenu .back-list {
  display: none;
}

.header__content .navigation__links > li.submenu .dropdown-menu__submenu_list {
  display: flex;
  justify-content: space-between;
  width: 763px;
  border-radius: 2px;
  padding: 32px 33px 64px;
  background: #fff;
}

.header__content .navigation__links > li.submenu .dropdown-menu__submenu_list.small {
  width: 363px;
  background: #FAFAFB;
}

.header__content .navigation__links > li.submenu .dropdown-menu__submenu_list li {
  max-width: 313px;
  min-height: 84px;
}

.header__content .navigation__links > li.submenu .dropdown-menu__submenu_list li .plus {
  display: none;
}

.header__content .navigation__links > li.submenu .dropdown-menu__submenu_list li p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #878787;
  margin: 0 0 16px 0;
  opacity: 0.8;
}

.header__content .navigation__links > li.submenu .dropdown-menu__submenu_list li ul li a {
  display: flex;
}

.header__content .navigation__links > li.submenu .dropdown-menu__submenu_list li ul li a span {
  flex: 0 0 42px;
  height: 42px;
  margin: 0 16px 0 0;
}

.header__content .navigation__links > li.submenu .dropdown-menu__submenu_list li ul li a span img {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__content .navigation__links > li.submenu .dropdown-menu__submenu_list li ul li a p {
  display: flex;
  flex-direction: column;
}

.header__content .navigation__links > li.submenu .dropdown-menu__submenu_list li ul li a p strong {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #22338A;
  margin: 0 0 4px 0;
  transition: 500ms;
}

.header__content .navigation__links > li.submenu .dropdown-menu__submenu_list li ul li a p small {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}

.header__content .navigation__links > li:last-child {
  margin: 0;
}

.header__content .navigation__links > li > a,
.header__content .navigation__links > li > p {
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  transition: 500ms;
}

.footer {
  background: #22338A;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 64px 0 0 0;
}

.footer__content .description {
  flex: 0 1 271px;
  margin: 0 40px 0 0;
}

.footer__content .description__logo {
  width: 96px;
  height: 24px;
}

.footer__content .description__logo a {
  display: block;
}

.footer__content .description__logo a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer__content .description__paragraph {
  margin: 16px 0 0 0;
}

.footer__content .description__paragraph p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #C0C0C7;
}

.footer__content .navigation {
  flex: 0 1 653px;
  display: flex;
}

.footer__content .navigation__list-items p {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #A2CB94;
  margin: 0 0 16px 0;
}

.footer__content .navigation__list-items li {
  margin: 0 0 4px 0;
}

.footer__content .navigation__list-items li:last-child {
  margin: 0;
}

.footer__content .navigation__list-items li a {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
  transition: 500ms;
}

.footer__content .navigation__list-items.sidebar {
  margin: 0 70px 0 0;
  max-width: 185px;
  width: 100%;
}

.footer__content .navigation > ul {
  display: flex;
  flex-wrap: wrap;
  margin: -25px -40px;
}

.footer__content .navigation > ul > li {
  margin: 25px 40px;
  width: 100%;
  max-width: 111px;
}

.footer__content .navigation > ul > li:nth-child(2n+1) {
  width: 100%;
  max-width: 206px;
}

.footer__content .social-media {
  margin: 72px 0 0 0;
  display: flex;
}

.footer__content .social-media.mob {
  display: none;
}

.footer__content .social-media li {
  width: 24px;
  height: 24px;
  margin: 0 16px 0 0;
}

.footer__content .social-media li:last-child {
  margin: 0;
}

.footer__content .social-media li a {
  display: block;
}

.footer__content .social-media li a svg {
  fill: #fff;
  width: 24px;
  height: 24px;
  transition: 500ms;
}

.footer__bottom {
  margin: 61px 0 0 0;
  border-top: 1px solid #70727E;
  padding: 8px 0 28px;
}

.footer__bottom p {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}

.partners {
  display: flex;
}

.partners li {
  flex: 0 0 80px;
  height: 30px;
  margin: 0 64px 0 0;
}

.partners li:last-child {
  margin: 0;
}

.partners li img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  display: inline-block;
  white-space: nowrap;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #fff;
  padding: 12px 16px;
  border-radius: 4px;
  transition: 500ms;
}

.button._green {
  background: #1ED760;
}

.hero {
  position: relative;
  padding: 80px 0 275px 0;
  background: radial-gradient(59.83% 127.2% at 111.77% 56.02%, #63B866 2.53%, #2A326D 42.88%, #1B2345 90.1%);
}

.hero:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 0;
  border-style: solid;
  border-width: 0 0 180px 100vw;
  border-color: transparent transparent #fff transparent;
}

.hero__content {
  display: flex;
  justify-content: space-between;
  padding: 98px 0 0 0;
}

.hero__content_title {
  flex: 0 1 445px;
  margin: 0 50px 0 0;
}

.hero__content_title h1 {
  font-size: 44px;
  line-height: 54px;
  color: #fff;
}

.hero__content_title h1 span {
  color: #1ED760;
}

.hero__content_title p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 32px 0 0 0;
  color: #C0C0C7;
}

.hero__content_title .button {
  margin: 48px 0 0 0;
}

.hero__content_lottie {
  flex: 0 1 540px;
}

.hero__content_lottie img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero .partners {
  margin: 67px 0 0 0;
}

.accurate {
  margin: 88px 0 70px;
}

.accurate__title {
  max-width: 730px;
  margin: 0 auto;
}

.accurate__title h2 {
  text-align: center;
}

.accurate__title h2 span {
  color: #A2CB94;
}

.accurate__title p {
  font-weight: 400;
  margin: 32px 0 0 0;
  text-align: center;
}

.accurate__content {
  margin: 120px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.accurate__content .title-top {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #A2CB94;
  text-transform: uppercase;
  margin: 0 0 40px 0;
}

.accurate__content_initiatives {
  position: relative;
  flex: 0 1 540px;
}

.accurate__content_initiatives > picture {
  position: absolute;
  right: -192px;
  top: 50%;
  transform: translateY(-50%);
  width: 192px;
  height: 390px;
}

.accurate__content_initiatives > picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.accurate__content_initiatives ul li {
  padding: 44px 55px 44px 40px;
  box-shadow: 4px 4px 100px rgba(108, 123, 170, 0.12);
  margin: 0 0 24px 0;
}

.accurate__content_initiatives ul li > img {
  display: none;
  width: 48px;
  height: 48px;
  margin: 0 0 4px 0;
}

.accurate__content_initiatives ul li span {
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin: 0 0 24px 0;
  color: #22338A;
}

.accurate__content_initiatives ul li p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.accurate__content_roles {
  position: relative;
  z-index: 2;
  flex: 0 1 350px;
}

.accurate__content_roles ul li {
  padding: 48px 0;
  border-bottom: 1px solid #E6E6E9;
  background-color: #fff;
}

.accurate__content_roles ul li:first-child {
  padding: 0 0 48px 0;
}

.accurate__content_roles ul li:last-child {
  padding: 48px 0 0 0;
  border-bottom: initial;
}

.accurate__content_roles ul li a {
  display: flex;
  flex-direction: column;
}

.accurate__content_roles ul li a p:first-child {
  display: inline-flex;
  align-items: center;
}

.accurate__content_roles ul li a p:first-child span {
  flex: 0 0 56px;
  height: 56px;
  margin: 0 24px 0 0;
}

.accurate__content_roles ul li a p:first-child span img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.accurate__content_roles ul li a p:first-child strong {
  position: relative;
  font-size: 24px;
  line-height: 32px;
  color: #22338A;
  padding: 0 40px 0 0;
}

.accurate__content_roles ul li a p:first-child strong:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateX(0) translateY(-50%);
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/accurate/arrow-right.svg");
  transition: 500ms;
}

.accurate__content_roles ul li a p:nth-child(2) small {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.systems {
  position: relative;
  z-index: 2;
  padding: 156px 0 208px;
  background: linear-gradient(167.45deg, rgba(213, 215, 229, 0.15) 11.06%, #FFFFFF 88.28%);
}

.systems:before {
  content: "";
  position: absolute;
  left: -50%;
  top: 0;
  width: 500px;
  height: 0;
  border-style: solid;
  border-width: 40px 100vw 0 0;
  border-color: #fff transparent transparent transparent;
}

.systems__content {
  display: flex;
  margin: 0 0 136px 0;
}

.systems__content:last-child {
  margin: 0;
}

.systems__content.reverse .systems__content_text {
  order: 2;
  padding: 0 0 0 115px;
}

.systems__content.reverse .systems__content_card {
  order: 1;
}

.systems__content_text {
  flex: 0 1 50%;
  padding: 0 115px 0 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.systems__content_text small {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #A2CB94;
  margin: 0 0 16px 0;
}

.systems__content_text strong {
  font-size: 24px;
  line-height: 32px;
  color: #22338A;
  margin: 0 0 24px 0;
}

.systems__content_text p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.systems__content_text a {
  align-self: flex-start;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  color: #A2CB94;
  margin: 16px 0 0 0;
  padding: 0 24px 0 0;
}

.systems__content_text a:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateX(0) translateY(-50%);
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/accurate/arrow-right.svg");
  transition: 500ms;
}

.systems__content_card {
  flex: 0 1 50%;
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 0px 0px 40px rgba(108, 123, 170, 0.1);
  border-radius: 8px;
  padding: 44px 36px;
}

.systems__content_card div:nth-child(1) {
  flex: 0 1 266px;
}

.systems__content_card div:nth-child(1) span {
  display: inline-block;
  height: 42px;
  box-sizing: content-box;
  padding: 0 0 24px 0;
}

.systems__content_card div:nth-child(1) span img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.systems__content_card div:nth-child(1) p {
  border-top: 1px solid #D5D7E5;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0 0 16px 0;
  padding: 24px 0 0 0;
}

.systems__content_card div:nth-child(1) strong,
.systems__content_card div:nth-child(1) small {
  display: block;
  font-size: 14px;
  line-height: 18px;
}

.systems__content_card div:nth-child(1) strong {
  color: #878787;
}

.systems__content_card div:nth-child(1) small {
  color: #C0C0C7;
}

.systems__content_card div:nth-child(2) {
  display: flex;
  flex: 0 1 202px;
  align-items: center;
  justify-content: flex-end;
}

.systems__content_card div:nth-child(2) span {
  width: 154px;
  height: 154px;
}

.systems__content_card div:nth-child(2) span img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.canva {
  position: relative;
  background: #F3F2F3;
}

.canva:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100vw 80px 0;
  border-color: transparent #fff transparent transparent;
}

.canva__content {
  position: relative;
  padding: 20px 0 0 0;
  z-index: 2;
  display: flex;
}

.canva__content_text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 0 1 50%;
}

.canva__content_text h2 {
  margin: 0 0 32px 0;
}

.canva__content_text .button {
  align-self: flex-start;
}

.canva__content_img {
  flex: 0 1 50%;
}

.canva__content_img img {
  position: relative;
  top: -100px;
  left: -50px;
  width: 120%;
  height: 120%;
  -o-object-fit: cover;
     object-fit: cover;
}

.revenue {
  position: relative;
  padding: 270px 0 109px;
  background: radial-gradient(291.17% 160.89% at 103.99% -47.18%, #EDA13D 0%, #2A326D 61.82%), linear-gradient(169.81deg, #FFFFFF -31.66%, rgba(213, 215, 229, 0.39) 73.42%);
  margin: -73px 0 0 0;
}

.revenue:before {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 141px 100vw 0 0;
  border-color: #F3F2F3 transparent transparent transparent;
}

.revenue__title {
  max-width: 682px;
  margin: 0 auto 48px;
}

.revenue__title h2 {
  text-align: center;
  color: #fff;
}

.revenue__form {
  display: flex;
  max-width: 554px;
  margin: 0 auto 85px;
}

.revenue__form .input-container {
  flex: 0 1 358px;
  margin: 0 16px 0 0;
}

.revenue__form .input-container input {
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  padding: 18px 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 2px solid #D3D3D8;
  border-radius: 4px;
  transition: 300ms;
}

.revenue__form .input-container input::-moz-placeholder {
  color: #C0C0C7;
}

.revenue__form .input-container input::placeholder {
  color: #C0C0C7;
}

.revenue__form .input-container input:focus {
  border: 2px solid #1ED760;
}

.revenue__form .input-container input:focus:invalid {
  border: 2px solid #FAA204;
  color: #FAA204;
}

.revenue__form .input-container input:focus:invalid::-moz-placeholder {
  color: rgba(250, 162, 4, 0.3);
}

.revenue__form .input-container input:focus:invalid::placeholder {
  color: rgba(250, 162, 4, 0.3);
}

.revenue__form .button {
  flex: 0 1 180px;
}

.revenue__logos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 236px;
  margin: 80px -8px 100px;
}

.revenue__logos li {
  opacity: 0.9;
  width: calc((100% - 112px) / 7);
  height: calc((100% - 48px) / 3);
  margin: 8px;
  background: linear-gradient(180deg, rgba(108, 123, 170, 0.12) 0%, rgba(108, 123, 170, 0) 394.19%), linear-gradient(180deg, rgba(108, 123, 170, 0.12) 0%, rgba(108, 123, 170, 0) 100%);
  border-radius: 5px;
  display: flex;
  padding: 17px;
  justify-content: center;
  align-items: center;
}

.revenue__logos li img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.revenue__logos li:first-child,
.revenue__logos li:last-child {
  margin: 88px 8px;
}

.revenue__logos li:nth-child(6n+2) {
  margin: -10px 8px 8px;
}

@media (min-width: 1200px) {
  .header.hide {
    background: #22338A;
  }

  .header__content_login:hover {
    color: #1ED760;
  }

  .header__content_login:hover svg {
    fill: #1ED760;
  }

  .header__content_cross {
    display: none;
  }

  .header__content .navigation__links > li.submenu .dropdown-menu__submenu_list li ul li a:hover p strong {
    color: #A2CB94;
  }

  .header__content .navigation__links > li.submenu .dropdown-menu__submenu_list li ul li a:hover._yellow-link p strong {
    color: #FAA204;
  }

  .header__content .navigation__links > li.submenu .dropdown-menu__submenu_list li ul li a:hover._punchy-link p strong {
    color: #1ED760;
  }

  .header__content .navigation__links > li:hover > a,
  .header__content .navigation__links > li:hover > p {
    color: #1ED760;
  }

  .header__content .navigation__links > li:hover.submenu .dropdown-menu {
    opacity: 1;
  }

  .header__content .navigation__links > li:hover.submenu .dropdown-menu__submenu {
    pointer-events: initial;
    transform: translateX(-50%) translateY(0);
  }

  .header__content .navigation__links > li:hover.submenu:before {
    border-color: #1ED760;
  }

  .footer__content .navigation__list-items li a:hover {
    color: #A2CB94;
  }

  .footer__content .social-media li a:hover svg {
    fill: #A2CB94;
  }

  .button:hover._green {
    background: #1B2345;
  }

  .accurate__content_roles ul li a:hover p:first-child strong:after {
    transform: translateX(20px) translateY(-50%);
  }
}

@media (max-width: 1199px) {
  .root {
    padding: 57px 0 0 0;
  }

  .header.hide .header__content:before {
    content: "";
    background: #22338A;
  }

  .header.active .header__content .navigation {
    right: 0;
  }

  .header.active .header__content_cross span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotateZ(45deg);
  }

  .header.active .header__content_cross span:nth-child(2) {
    left: -10px;
    opacity: 0;
  }

  .header.active .header__content_cross span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotateZ(-45deg);
  }

  .header__content {
    position: relative;
    justify-content: space-between;
    padding: 13px 0;
  }

  .header__content:before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 57px;
    transition: 500ms;
  }

  .header__content_logo,
  .header__content_login {
    position: relative;
    z-index: 2;
  }

  .header__content_login {
    margin: 0 50px 0 0;
  }

  .header__content .navigation {
    position: fixed;
    flex-direction: column;
    background: #fff;
    width: 100%;
    height: calc(100% - 57px);
    top: 57px;
    right: 100vw;
    margin: 0;
    padding: 26px 25px 24px;
    max-height: calc(100% - 57px);
    overflow-y: auto;
    transition: 300ms ease-in-out;
    scrollbar-width: none;
  }

  .header__content .navigation::-webkit-scrollbar {
    display: none;
  }

  .header__content .navigation__links {
    padding: 0;
    flex-direction: column;
    width: 100%;
    margin: 0 0 50px 0;
  }

  .header__content .navigation__links > li {
    padding: 16px 0;
    margin: 0;
    border-bottom: 1px solid #F3F2F3;
  }

  .header__content .navigation__links > li > a,
  .header__content .navigation__links > li p {
    font-size: 20px;
    line-height: 24px;
    opacity: 0.8;
    color: #878787;
    font-weight: 500;
  }

  .header__content .navigation__links > li.submenu {
    padding: 16px 32px 16px 0;
  }

  .header__content .navigation__links > li.submenu:before {
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
    border-color: #A9ABB6;
  }

  .header__content .navigation__links > li.submenu .dropdown-menu {
    top: 57px;
    z-index: 3;
    opacity: 1;
    overflow-y: auto;
    pointer-events: initial;
    background: #fff;
    height: calc(100% - 57px);
    transform: translateX(-100vw);
    transition: 300ms ease-in;
    scrollbar-width: none;
  }

  .header__content .navigation__links > li.submenu .dropdown-menu::-webkit-scrollbar {
    display: none;
  }

  .header__content .navigation__links > li.submenu .dropdown-menu.active-menu {
    transform: translateX(0);
  }

  .header__content .navigation__links > li.submenu .dropdown-menu__submenu {
    flex-direction: column;
    overflow-y: auto;
    top: 0;
    left: 0;
    transform: initial;
    width: 100%;
    padding: 61px 25px;
  }

  .header__content .navigation__links > li.submenu .dropdown-menu__submenu .back-list {
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #878787;
    opacity: 0.8;
    margin: 0 0 23px 0;
    padding: 0 0 0 24px;
  }

  .header__content .navigation__links > li.submenu .dropdown-menu__submenu .back-list:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 3px;
    width: 8px;
    height: 8px;
    display: inline-block;
    border-color: #A9ABB6;
    border-width: 2px;
    border-top-style: solid;
    border-left-style: solid;
    aspect-ratio: 1;
    transform: translateY(-50%) rotate(-45deg);
  }

  .header__content .navigation__links > li.submenu .dropdown-menu__submenu_list {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .header__content .navigation__links > li.submenu .dropdown-menu__submenu_list.small {
    background: #fff;
    width: 100%;
  }

  .header__content .navigation__links > li.submenu .dropdown-menu__submenu_list > li {
    position: relative;
    width: 100%;
    padding: 16px 20px 16px 0;
    border-bottom: 1px solid #F3F2F3;
    min-height: initial;
    max-width: initial;
  }

  .header__content .navigation__links > li.submenu .dropdown-menu__submenu_list > li.active .plus:after {
    background: #A2CB94;
    transform: translateX(-50%) rotate(90deg);
  }

  .header__content .navigation__links > li.submenu .dropdown-menu__submenu_list > li.active .plus:before {
    background: #A2CB94;
  }

  .header__content .navigation__links > li.submenu .dropdown-menu__submenu_list > li.active > p {
    color: #A2CB94;
  }

  .header__content .navigation__links > li.submenu .dropdown-menu__submenu_list > li .plus {
    position: absolute;
    pointer-events: none;
    right: 0;
    top: 20px;
    display: block;
    width: 16px;
    height: 16px;
    opacity: 0.8;
  }

  .header__content .navigation__links > li.submenu .dropdown-menu__submenu_list > li .plus:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 2px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: #878787;
  }

  .header__content .navigation__links > li.submenu .dropdown-menu__submenu_list > li .plus:after {
    content: "";
    position: absolute;
    height: 16px;
    width: 2px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background: #878787;
    transition: 300ms;
  }

  .header__content .navigation__links > li.submenu .dropdown-menu__submenu_list > li > p {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    font-weight: 500;
    transition: 300ms;
  }

  .header__content .navigation__links > li.submenu .dropdown-menu__submenu_list > li ul {
    max-height: 0px;
    transition: 300ms;
    overflow: hidden;
  }

  .header__content .navigation__links > li.submenu .dropdown-menu__submenu_list > li ul li {
    border-bottom: initial;
  }

  .header__content .navigation__links > li.submenu .dropdown-menu__submenu_list > li ul li:first-child {
    padding: 32px 0 0 0;
  }

  .header__content .navigation .button {
    text-align: center;
    width: 100%;
  }

  .partners {
    overflow: auto;
    flex-wrap: nowrap;
    width: 100%;
    scrollbar-width: none;
  }

  .partners li {
    margin: 0 40px 0 0;
  }

  .partners::-webkit-scrollbar {
    display: none;
  }

  .accurate {
    margin: 48px 0 80px;
  }

  .accurate__content {
    flex-direction: column;
  }

  .accurate__content_initiatives {
    flex: initial;
    padding: 0 0 200px 0;
  }

  .accurate__content_initiatives > picture {
    width: 211px;
    height: 312px;
    right: 50%;
    top: initial;
    transform: translateX(50%) rotate(90deg);
    bottom: -61px;
  }

  .accurate__content_roles {
    flex: initial;
  }

  .systems {
    padding: 90px 0 10px;
  }

  .systems__content {
    flex-direction: column;
    margin: 0 0 57px 0;
  }

  .systems__content.reverse .systems__content_text {
    order: initial;
    padding: 0;
  }

  .systems__content.reverse .systems__content_card {
    order: initial;
  }

  .systems__content_text {
    flex: initial;
    padding: 0;
    margin: 0 0 40px 0;
  }

  .systems__content_text strong {
    margin: 0 0 16px 0;
  }

  .systems__content_card {
    position: relative;
    max-width: 540px;
    margin: 0 auto;
    flex: initial;
    padding: 24px;
  }

  .systems__content_card div:nth-child(1) {
    flex: initial;
  }

  .systems__content_card div:nth-child(1) span {
    padding: 26px 0 51px 122px;
  }

  .systems__content_card div:nth-child(2) {
    position: absolute;
    left: 24px;
    top: 24px;
    flex: initial;
    width: 98px;
    height: 98px;
  }

  .systems__content_card div:nth-child(2) span {
    width: 98px;
    height: 98px;
  }
}

@media (max-width: 1023px) {
  h2,
  .h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .footer__content {
    flex-direction: column;
  }

  .footer__content .social-media {
    margin: 40px 0 0 0;
  }

  .footer__content .social-media.desktop {
    display: none;
  }

  .footer__content .social-media.mob {
    display: flex;
  }

  .footer__content .social-media li {
    width: 32px;
    height: 32px;
    margin: 0 24px 0 0;
  }

  .footer__content .social-media li a svg {
    width: 32px;
    height: 32px;
  }

  .footer__content .description {
    flex: initial;
    margin: 0 0 32px 0;
  }

  .footer__content .navigation {
    flex: initial;
    flex-direction: column;
  }

  .footer__content .navigation__list-items.sidebar {
    margin: 0 0 32px 0;
    max-width: initial;
  }

  .footer__content .navigation > ul {
    margin: -16px -11px;
  }

  .footer__content .navigation > ul > li {
    margin: 16px 11px;
    width: calc((100% - 44px) / 2);
    max-width: initial;
  }

  .footer__content .navigation > ul > li:nth-child(2n+1) {
    width: calc((100% - 44px) / 2);
    max-width: initial;
  }

  .footer__bottom {
    margin: 40px 0 0 0;
  }

  .footer__bottom p {
    text-align: center;
    font-size: 11px;
    line-height: 18px;
  }

  .hero {
    padding: 80px 0 150px;
  }

  .hero:before {
    content: "";
    border-width: 0 0 48px 100vw;
  }

  .hero__content {
    flex-direction: column;
    padding: 10px 0 0 0;
  }

  .hero__content_title {
    flex: initial;
    margin: 0;
  }

  .hero__content_title h1 {
    font-size: 32px;
    line-height: 36px;
  }

  .hero__content_title p {
    margin: 24px 0 0 0;
  }

  .hero__content_title .button {
    margin: 32px 0 0 0;
  }

  .hero__content_lottie {
    flex: initial;
    max-width: 500px;
    margin: 44px auto 0;
  }

  .hero .partners {
    margin: 44px 0 0 0;
  }

  .accurate__title h2,
  .accurate__title p {
    text-align: left;
  }

  .accurate__title p {
    margin: 8px 0 0 0;
  }

  .accurate__content {
    margin: 64px 0 0 0;
  }

  .accurate__content .title-top {
    margin: 0 0 20px 0;
  }

  .accurate__content_initiatives ul li {
    margin: 0 0 17px 0;
    padding: 24px;
  }

  .accurate__content_initiatives ul li > img {
    display: block;
  }

  .accurate__content_initiatives ul li span {
    margin: 0 0 12px 0;
  }

  .accurate__content_roles {
    margin: 38px 0 0 0;
  }

  .accurate__content_roles ul li {
    padding: 24px 0;
  }

  .accurate__content_roles ul li:first-child {
    padding: 0 0 24px 0;
  }

  .accurate__content_roles ul li:last-child {
    padding: 24px 0 0 0;
  }

  .accurate__content_roles ul li a p:first-child {
    margin: 0 0 8px 0;
  }

  .accurate__content_roles ul li a p:first-child span {
    display: none;
  }

  .canva {
    padding: 67px 0;
  }

  .canva:before {
    border-width: 0 100vw 40px 0;
  }

  .canva__content {
    flex-direction: column;
  }

  .canva__content_text {
    flex: initial;
  }

  .canva__content_img {
    max-width: 500px;
    margin: 0 auto;
    flex: initial;
  }

  .canva__content_img img {
    top: initial;
    left: 50%;
    transform: translateX(-50%);
    width: 145%;
    height: 100%;
  }

  .revenue {
    margin: -136px 0 0 0;
    padding: 84px 0 24px 0;
  }

  .revenue:before {
    border-width: 41px 100vw 0 0;
  }

  .revenue__title {
    margin: 0 auto 33px;
  }

  .revenue__form {
    flex-direction: column;
  }

  .revenue__form .input-container {
    flex: initial;
    margin: 0 0 16px 0;
  }

  .revenue__form .button {
    flex: initial;
  }

  .revenue__logos {
    height: 291px;
    margin: 36px -4px;
    justify-content: center;
  }

  .revenue__logos li {
    padding: 9px;
    margin: 4px;
    width: calc((100% - 24px) / 3);
    height: calc((100% - 48px) / 6);
  }

  .revenue__logos li:first-child,
  .revenue__logos li:last-child {
    margin: 4px;
  }

  .revenue__logos li:nth-child(6n+2) {
    margin: 4px;
  }

  .revenue__logos li:nth-child(7),
  .revenue__logos li:nth-child(11) {
    margin: 8px 4px;
  }
}

@media (max-width: 374px) {
  .footer__content .navigation > ul > li {
    width: calc(100% - 22px);
  }

  .footer__content .navigation > ul > li:nth-child(2n+1) {
    width: calc(100% - 22px);
  }
}