* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Poppins", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1115px;
  padding: 0px 25px;
  margin: 0px auto;
  box-sizing: content-box;
}

.root {
  padding: 80px 0 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  color: #22338A;
}

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #878787;
}

h1,
.h1 {
  font-size: 56px;
  font-weight: 600;
  line-height: 64px;
}

h2,
.h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 36px;
}

h3,
.h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  background: #22338A;
}

.header__content {
  display: flex;
  align-items: center;
}

.header__content_logo {
  flex: 0 0 106px;
  height: 31px;
}

.header__content_logo a {
  display: block;
}

.header__content_logo a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__content_login {
  position: relative;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  padding: 0 0 0 22px;
  height: 24px;
  transition: 500ms;
}

.header__content_login svg {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 16px;
  fill: #fff;
  transition: 500ms;
}

.header__content .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 25px 0 70px;
}

.header__content .navigation__links {
  display: flex;
  padding: 28px 0 0 0;
}

.header__content .navigation__links li {
  cursor: pointer;
  color: #fff;
  padding: 0 0 28px 0;
  margin: 0 32px 0 0;
  transition: 500ms;
}

.header__content .navigation__links li.submenu {
  position: relative;
  padding: 0 24px 28px 0;
}

.header__content .navigation__links li.submenu:before {
  content: "";
  position: absolute;
  top: 9px;
  right: 6px;
  width: 8px;
  height: 8px;
  display: inline-block;
  border-color: #fff;
  border-width: 2px;
  border-top-style: solid;
  border-left-style: solid;
  aspect-ratio: 1;
  transform: translateY(-50%) rotate(-135deg);
  transition: 300ms;
}

.header__content .navigation__links li:last-child {
  margin: 0;
}

.header__content .navigation__links li a,
.header__content .navigation__links li p {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  transition: 500ms;
}

.button {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #fff;
  padding: 12px 16px;
  border-radius: 4px;
  transition: 500ms;
}

.button._green {
  background: #1ED760;
}

@media (min-width: 1200px) {
  .header__content_login:hover {
    color: #1ED760;
  }

  .header__content_login:hover svg {
    fill: #1ED760;
  }

  .header__content .navigation__links li:hover {
    color: #1ED760;
  }

  .header__content .navigation__links li:hover a,
  .header__content .navigation__links li:hover p {
    color: #1ED760;
  }

  .header__content .navigation__links li:hover.submenu:before {
    border-color: #1ED760;
  }

  .button:hover._green {
    background: #1B2345;
  }
}