.by-numbers {
  background: linear-gradient(183.89deg, #FFFFFF 8.76%, rgba(213, 215, 229, 0.69) 98.58%);
  padding: 188px 0 95px;

  &__content {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 827px;
      height: 320px;
      background-image: url("../img/join-team/squares-bg.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 827px 320px;
    }

    h2 {
      text-align: center;
      margin: 0 0 41px 0;
    }

    ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: -15px;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 32px 16px;
        margin: 15px;
        width: calc((100% - (15px * 6)) / 3);
        border-radius: 10px;
        background-color: $color-white;

        &:last-child {
          width: 100%;
          max-width: 540px;
        }

        p {
          span, strong {
            color: $color-punchy-green;
            font-weight: 600;
          }

          strong {
            color: $color-punchy-green-800;
          }

          font-size: 24px;
          line-height: 32px;
          font-weight: 400;
          color: $color-royal-blue-800;
        }

        img {
          flex: 0 0 40px;
          height: 40px;
          margin: 0 32px 0 0;
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .by-numbers {
    &__content {
      &:before {
        display: none;
      }
    }
  }
}

@media (max-width: 1023px) {
  .by-numbers {
    &__content {
      ul {
        li {
          width: calc((100% - (15px * 4)) / 2);

          p {
            strong {
              color: $color-punchy-green;
            }
          }

          &:last-child {
            width: calc((100% - (15px * 4)) / 2);
            max-width: initial;
          }
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .by-numbers {
    padding: 92px 0 25px;

    &__content {
      ul {
        li {
          width: calc((100% - (15px * 2)));

          &:last-child {
            width: calc((100% - (15px * 2)));
          }
        }
      }
    }
  }
}

@media (max-width: 374px) {
  .by-numbers {

    &__content {
      ul {
        li {
          p {
            font-size: 18px;
            line-height: 24px;
          }
        }
      }
    }
  }
}