.openings-view {
  position: relative;
  z-index: 2;
  margin: 100px 0 166px;

  &__top {
    margin: 0 0 54px 0;

    ul {
      display: flex;
      flex-wrap: wrap;
      margin: 20px -12px -12px;

      li {
        margin: 12px;

        .select-wrapper {
          position: relative;
          pointer-events: none;

          &:before {
            content: '';
            position: absolute;
            top: 50%;
            right: 16px;
            width: 16px;
            height: 16px;
            transform: translateY(-50%);
            background-image: url("../img/arrow-list.svg");
            background-size: 16px 16px;
            background-repeat: no-repeat;
            background-position: center;
          }

          select {
            cursor: pointer;
            pointer-events: visible;
            text-align: center;
            border-radius: 4px;
            background-color: #F3F2F3;
            padding: 8px 35px 8px 16px;
            font-size: 16px;
            line-height: 24px;
            color: $color-dark-gray-900;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
          }

        }
      }
    }
  }

  &__bottom {
    > p {
      margin: 54px 0 40px 0;

      strong {
        font-size: 24px;
        line-height: 32px;
        color: $color-royal-blue-800;
      }
    }

    > ul {
      > li {
        > p {
          margin: 40px 0 24px 0;

          strong {
            font-size: 20px;
            line-height: 24px;
            color: $color-punchy-green;
          }
        }

        > div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0 0 32px 0;

          &:last-child {
            margin: 0;
          }

          > a {
            &:nth-child(1) {
              display: flex;
              flex-direction: column;
              @media (min-width: 1200px) {
                &:hover {
                  strong, small {
                    color: $color-royal-blue-800;
                  }
                }
              }

              strong {
                font-size: 16px;
                line-height: 24px;
                font-weight: 500;
                color: $color-dark-gray-900;
                margin: 0 0 8px 0;
                transition: 500ms;
              }

              small {
                font-size: 12px;
                line-height: 18px;
                font-weight: 400;
                color: $color-dark-gray-900;
                transition: 500ms;
              }
            }
          }

          .button {
            align-self: center;
            @media (max-width: 1199px) {
              padding: 8px 16px;
            }
          }
        }
      }
    }

  }
}

@media (max-width: 767px) {
  .openings-view {
    &__bottom {
      > ul {
        > li {
          > div {
            flex-direction: column;
            justify-content: initial;
            align-items: flex-start;

            .button {
              margin: 16px 0 0 0;
              align-self: flex-start;
            }
          }
        }
      }
    }

  }
}