.demo {
  margin: 30px auto 67px;

  &__content {
    position: relative;
    display: flex;
    padding: 88px 80px 84px;
    background: linear-gradient(170.88deg, #2A326D 24.88%, #63B866 146.63%);
    border-radius: 4px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-image: url("../img/demo-bg.svg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &_description {
      position: relative;
      z-index: 2;
      max-width: 323px;

      h2 {
        color: $color-white;

        span {
          color: $color-punchy-green-800;
        }
      }
    }

    &_form {
      position: relative;
      z-index: 2;
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      margin: 0 0 0 73px;

      form {
        width: 100%;
        align-self: flex-start;
        display: flex;

        .button {
          margin: 0 0 0 16px;
          flex: 0 1 30%;
        }

        .input-container {
          flex: 0 1 70%;
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .demo {
    &__content {
      flex-direction: column;
      &_form {
        margin: 24px 0 0 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .demo {
    margin: 80px 0 0 0;

    .container {
      padding: 0;
    }

    &__content {
      border-radius: initial;
      padding: 25px;
    }
  }
}

@media (max-width: 567px) {
  .demo {
    &__content {
      &_description{
        max-width: initial;
        h2{
          text-align: center;
        }
      }
      &_form {
        form {
          flex-direction: column;

          .input-container {
            flex: initial;
          }

          .button {
            margin: 18px 0 0 0;
            flex: initial;
          }
        }
      }
    }
  }
}