.demo {
  margin: 30px auto 67px;

  &.green-bg {
    .demo {
      &__content {
        background: linear-gradient(180deg, #FFFFFF 44.8%, #5EC053 223.6%);
        box-shadow: 4px 4px 8px rgba(27, 35, 69, 0.04), 0px 8px 20px rgba(42, 50, 109, 0.08);

        &:before {
          background-image: url("../img/demo-bg-2.svg");
        }
      }
    }
  }

  &.estimate {
    margin: 30px auto -15px;

    .demo {
      &__content {
        padding: 66px 80px 71px;
        justify-content: space-between;

        &_description {
          max-width: 562px;

          h2 {
            color: $color-royal-blue-800;
          }
        }

        &_form {
          width: initial;
        }
      }
    }
  }

  &__content {
    position: relative;
    display: flex;
    padding: 88px 80px 84px;
    background: linear-gradient(170.88deg, #2A326D 24.88%, #63B866 146.63%);
    border-radius: 4px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-image: url("../img/demo-bg.svg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &_description {
      position: relative;
      z-index: 2;
      max-width: 323px;

      h2 {
        color: $color-white;

        span {
          color: $color-punchy-green-800;
        }
      }
    }

    &_form {
      position: relative;
      z-index: 2;
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      margin: 0 0 0 73px;
    }
  }
}

@media (max-width: 1023px) {
  .demo {
    &.estimate {
      .demo {
        &__content {
          &_form {
            align-items: center;

            .input-wrapper {
              width: initial;

              .button {
                align-self: flex-start;
              }
            }
          }
        }
      }
    }

    &__content {
      flex-direction: column;

      &_form {
        margin: 24px 0 0 0;

        .input-wrapper {
          margin: 0 auto;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .demo {
    margin: 80px 0 0 0;

    .container {
      padding: 0;
    }

    &__content {
      border-radius: initial;
      padding: 25px;
    }
  }
}

@media (max-width: 567px) {
  .demo {
    &__content {
      &_description {
        max-width: initial;

        h2 {
          text-align: center;
        }
      }
    }
  }
}