.wrapper {
  overflow: hidden;
  min-height: 100%;

  &.integration {
    overflow: initial;
  }
}

.container {
  max-width: 1115px;
  padding: 0px 25px;
  margin: 0px auto;
  box-sizing: content-box;

  &.small {
    max-width: 853px;
  }
}

.root {
  padding: 80px 0 0 0;
  @media(max-width: 1199px) {
    padding: 57px 0 0 0;
  }

  &.background-color {
    position: relative;
    height: 235px;
    padding: 0;
    background-image: linear-gradient(#2A326D 5%, #63B866 95%);
    background-size: 100vw 235px;
    background-position: bottom;
    background-repeat: no-repeat;


    &:before {
      content: '';
      position: absolute;
      z-index: 2;
      bottom: -80px;
      right: 200px;
      width: 290px;
      height: 166px;
      background-image: url("../img/squares.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &:after {
      content: '';
      position: absolute;
      z-index: 2;
      right: 0;
      bottom: 0;
      width: 100vw;
      height: 0;
      border-style: solid;
      border-width: 115px 0 0 100vw;
      border-color: transparent transparent transparent #fff;

    }
  }

  @media(max-width: 1199px) {
    &.background-color {
      background-size: 100vw 90px;
      height: 90px;

      &:after {
        border-width: 45px 0 0 100vw;
      }

      &:before {
        display: none;
      }
    }
  }
}

.background-template {
  position: relative;

  &.rotate-bg {
    &:before {
      transform: translateX(-50%) rotate(-5deg);
    }
  }

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: $color-dark-gray-200;
    top: -96px;
    left: 50%;
    transform: translateX(-50%) rotate(5deg);
    width: 150vw;
    height: 150%;
    opacity: 0.5;
  }

  @media (max-width: 1023px) {
    &:before {
      height: 100%;
    }
  }
}

.sections-customers {
  margin: -550px 0 0;
  @media (max-width: 767px) {
    margin: -350px 0 0;
  }
}

.nav-links {
  &__list {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: $color-dark-gray-400;
    }

    ul {
      display: flex;

      li {
        margin: 0 48px 0 0;

        &:last-child {
          margin: 0;
        }

        a {
          display: block;
          font-size: 16px;
          line-height: 24px;
          color: $color-dark-gray-800;
          padding: 0 0 12px 0;
          transition: 500ms;
          @media (min-width: 1200px) {
            &:hover {
              color: $color-punchy-green-800;
            }
          }

          &.active {
            position: relative;
            color: $color-punchy-green-800;

            &:before {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              height: 2px;
              width: 100%;
              background-color: $color-punchy-green-800;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1023px) {
    &__list {
      width: calc(100% + 25px);

      ul {
        flex-wrap: nowrap;
        overflow-x: auto;
        scrollbar-width: none;
        padding: 0 25px 0 0;

        &::-webkit-scrollbar {
          display: none;
        }

        li {
          a {
            white-space: nowrap;
          }
        }
      }
    }
  }
}

.arrow-links {
  margin: 60px 0 176px 0;

  &__navigation {
    display: flex;
    justify-content: space-between;

    a {
      position: relative;
      font-size: 16px;
      line-height: 24px;
      color: $color-punchy-green-800;
      padding: 0 34px 0 0;
      transition: 500ms;
      @media (min-width: 1200px) {
        &:hover {
          opacity: .5;
        }
      }

      &.disabled {
        padding: 0 0 0 34px;
        color: $color-dark-gray-600;

        &:before {
          background-image: url("../img/ArrowLeft.svg");
          right: initial;
          left: 0;
        }
      }

      &:before {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        background-image: url("../img/ArrowRight.svg");
        background-size: 24px 24px;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  @media (max-width: 767px) {
    margin: 47px 0;
  }
}

.items-buttons {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  margin: -6px;

  li {
    margin: 6px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: $color-punchy-green-800;
    padding: 4px 12px;
    border-radius: 4px;
    background-color: $color-mint-green;
    white-space: nowrap;
  }

  @media (max-width: 1023px) {
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 0 0 16px 0;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.person-bottom {
  display: flex;
  margin: 32px 0 0 0;

  span {
    flex: 0 0 48px;
    height: 48px;
    margin: 0 24px 0 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  p {
    display: flex;
    flex-direction: column;
    justify-content: center;

    strong {
      font-size: 14px;
      line-height: 18px;
      font-weight: 500;
      color: $color-royal-blue-800;
      margin: 0 0 4px 0;
    }

    small {
      font-size: 12px;
      line-height: 20px;
      font-weight: 400;
    }
  }

  @media (max-width: 1023px) {
    margin: 24px 0 0 0;
  }
}

