.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1115px;
  padding: 0px 25px;
  margin: 0px auto;
  box-sizing: content-box;
}

.root {
  padding: 80px 0 0 0;
  @media(max-width: 1199px) {
    padding: 57px 0 0 0;
  }
}

.background-template {
  position: relative;

  &.rotate-bg {
    &:before {
      transform: translateX(-50%) rotate(-5deg);
    }
  }

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: $color-dark-gray-200;
    top: -96px;
    left: 50%;
    transform: translateX(-50%) rotate(5deg);
    width: 150vw;
    height: 150%;
    opacity: 0.5;
  }

  @media (max-width: 1023px) {
    &:before {
      height: 100%;
    }
  }
}