.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1115px;
  padding: 0px 25px;
  margin: 0px auto;
  box-sizing: content-box;

}

.root {
  padding: 80px 0 0 0;
  @media(max-width: 1199px) {
    padding: 57px 0 0 0;
  }
}