.wrapper {
  overflow: hidden;
  min-height: 100%;

  &.integration {
    overflow: initial;
  }
}

.container {
  max-width: 1115px;
  padding: 0px 25px;
  margin: 0px auto;
  box-sizing: content-box;

  &.small {
    max-width: 853px;
  }
}

.root {
  padding: 80px 0 0 0;
  @media(max-width: 1199px) {
    padding: 57px 0 0 0;
  }

  &.background-color {
    position: relative;
    height: 235px;
    padding: 0;
    background-image: linear-gradient(#2A326D 5%, #63B866 95%);
    background-size: 100vw 235px;
    background-position: bottom;
    background-repeat: no-repeat;


    &:before {
      content: '';
      position: absolute;
      z-index: 2;
      bottom: -80px;
      right: 200px;
      width: 290px;
      height: 166px;
      background-image: url("../img/squares.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &:after {
      content: '';
      position: absolute;
      z-index: 2;
      right: 0;
      bottom: 0;
      width: 100vw;
      height: 0;
      border-style: solid;
      border-width: 115px 0 0 100vw;
      border-color: transparent transparent transparent #fff;

    }
  }

  @media(max-width: 1199px) {
    &.background-color {
      background-size: 100vw 90px;
      height: 90px;

      &:after {
        border-width: 45px 0 0 100vw;
      }

      &:before {
        display: none;
      }
    }
  }
}

.background-template {
  position: relative;

  &.rotate-bg {
    &:before {
      transform: translateX(-50%) rotate(-5deg);
    }
  }

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: $color-dark-gray-200;
    top: -96px;
    left: 50%;
    transform: translateX(-50%) rotate(5deg);
    width: 150vw;
    height: 150%;
    opacity: 0.5;
  }

  @media (max-width: 1023px) {
    &:before {
      height: 100%;
    }
  }
}