$fontfamily: "Poppins", sans-serif;
$minwidth: 320px;

//========colors:
$color-black: #1B2345;

$color-dark-gray-800: #878787;
$color-dark-gray-600: #D3D3D8;
$color-dark-gray-400: #E6E6E9;
$color-dark-gray-200: #F3F2F3;
$color-gray-secondary: #C0C0C7;


$color-royal-blue-800: #22338A;
$color-dark-blue: #1B2345;

$color-white: #fff;

$color-punchy-green: #1ED760;
$color-punchy-green-800: #A2CB94;
$color-green-light: #0C7900;

$color-bright-orange: #FAA204;




