$fontfamily: "Poppins", sans-serif;
$minwidth: 320px;

//========colors:
$color-black: #1B2345;
$color-dark-gray-800: #878787;
$color-royal-blue-800: #22338A;
$color-white: #fff;
$color-punchy-green: #1ED760;
$color-dark-blue: #1B2345;




