.charges {
  margin: 15px auto 80px;
  max-width: 777px;

  &__title {
    max-width: 590px;
    margin: 0 auto;

    h2 {
      color: $color-dark-blue;
      line-height: 40px;
      text-align: center;
    }
  }

  &__tabs {
    margin: 64px 0 0 0;

    .tabs {
      &__items {
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid $color-gray-secondary;

        li {
          cursor: pointer;
          font-size: 24px;
          line-height: 32px;
          font-weight: 600;
          padding: 0 0 14px 0;
          color: $color-gray-secondary;
          transition: 500ms;

          &:hover {
            color: $color-punchy-green-800;
          }

          &.active {
            position: relative;
            color: $color-punchy-green-800;

            &:before {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 3px;
              border-radius: 4px;
              background-color: $color-punchy-green-800;
            }
          }
        }
      }

      &__body {
        position: relative;
        margin: 48px 0 0 0;

        > li {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          pointer-events: none;
          display: flex;
          transition: 500ms;

          &.active {
            opacity: 1;
            pointer-events: initial;
            position: static;
          }

          > div {
            flex: 0 1 50%;

            &:first-child {
              margin: 0 30px 0 0;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }

            p, small, li {
              font-size: 16px;
              line-height: 24px;
              font-weight: 400;
            }

            p, li {
              color: $color-dark-gray-800;
            }

            p + p {
              margin: 24px 0 0 0;
            }


            small {
              display: block;
              color: $color-royal-blue-800;
            }

            p + small {
              margin: 24px 0 4px 0;
            }

            ul {
              margin: 8px -16px -4px;
              display: flex;
              flex-wrap: wrap;

              li {
                position: relative;
                margin: 4px 16px;
                flex: 0 1 157px;
                padding: 0 0 0 24px;

                &:nth-child(2n + 1) {
                  flex: 0 1 112px;
                }

                &:before {
                  content: '';
                  position: absolute;
                  left: 4px;
                  top: 10px;
                  width: 4px;
                  height: 4px;
                  background-color: $color-dark-gray-800;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .charges {
    margin: 60px auto;

    &__tabs {
      .tabs {
        &__items {
          li {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media(max-width: 767px) {
  .charges {
    &__tabs {
      position: relative;
      margin: 30px 0 0 0;

      &:before {
        content: "";
        position: absolute;
        pointer-events: none;
        z-index: 2;
        right: -8px;
        top: 0;
        width: 30%;
        height: 48px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%);
      }

      .tabs {
        &__items {
          overflow: auto;
          justify-content: initial;
          flex-wrap: nowrap;
          scrollbar-width: none;
          border-bottom: initial;
          padding: 0 100px 0 0;

          &::-webkit-scrollbar {
            display: none;
          }

          li {
            white-space: nowrap;
            margin: 0 30px 0 0;

            &:last-child {
              margin: 0 100px 0 0;
            }
          }
        }

        &__body {
          margin: 30px 0 0 0;

          > li {
            flex-direction: column;

            > div {
              flex: initial;

              ul {
                li {
                  width: 100%;
                  flex: initial;

                  &:nth-child(2n + 1) {
                    flex: initial;
                  }
                }
              }

              img {
                display: block;
                width: 50%;
                margin: 50px auto 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 567px) {
  .charges {
    &__tabs {
      .tabs {
        &__body {
          > li {
            > div {
              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}