.price {
  position: relative;
  padding: 161px 0 0 0;
  margin: 0 0 107px 0;

  .container {
    max-width: 1240px;
  }

  &__title {
    text-align: center;

    h1 {
      max-width: 1115px;
      box-sizing: content-box;
      padding: 0 25px;
      margin: 37px auto 0;
      color: $color-white;

      span {
        color: $color-punchy-green-800;
      }
    }

    h2 {
      color: $color-white;
      margin: 0 0 40px 0;
    }


    > strong {
      display: block;
      font-size: 24px;
      line-height: 32px;
      font-weight: 600;
      color: $color-white;
      margin: 0 0 4px 0;
    }

    > span {
      display: block;
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      color: $color-punchy-green-800;
      text-transform: uppercase;
      margin: 0 0 60px 0;
    }

    > p {
      font-weight: 400;
      color: $color-gray-secondary;
      max-width: 822px;
      margin: 0 auto;
    }

  }

  &:before {
    content: '';
    background: linear-gradient(177.96deg, #2A326D 30.65%, #63B866 81.17%);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 65%;
  }

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    right: 0;
    top: calc(65% - 180px);
    width: 100vw;
    height: 0;
    border-style: solid;
    border-width: 0 0 180px 100vw;
    border-color: transparent transparent #fff transparent;
  }

  &__table {
    &.box-shadow {
      max-width: 1033px;
      margin: 124px auto 0;
      box-shadow: 0px 4px 30px rgba(42, 50, 109, 0.08);
    }

    margin: 128px 0 0 0;
    border-radius: 4px;
    padding: 64px;
    background-color: $color-white;

    h2 {
      text-align: center;
      margin: 0 0 55px 0;
    }

    ul {
      display: flex;

      &:nth-child(2n + 1) {
        border-radius: 4px;
        background-color: $color-dark-gray-200;
      }

      &:last-child {
        border-bottom: initial;
      }

      &:first-child {
        background-color: initial;
        border-radius: initial;
        border-bottom: 1px solid $color-dark-gray-400;


        li {
          height: 116px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }

      li {
        padding: 8px 16px;
        min-height: 80px;
        border-right: 1px solid $color-dark-gray-400;
        display: flex;
        justify-content: center;
        align-items: center;

        //&.checked {
        //  position: relative;
        //
        //  &:before {
        //    content: '';
        //    position: absolute;
        //    left: 50%;
        //    top: 50%;
        //    width: 32px;
        //    height: 32px;
        //    transform: translateX(-50%) translateY(-50%);
        //    background-image: url("../img/checked.svg");
        //    background-repeat: no-repeat;
        //    background-position: center;
        //    background-size: contain;
        //  }
        //}

        //&.not-checked {
        //  position: relative;
        //
        //  &:before {
        //    content: '';
        //    position: absolute;
        //    left: 50%;
        //    top: 50%;
        //    width: 32px;
        //    height: 2px;
        //    transform: translateX(-50%) translateY(-50%);
        //    background-color: $color-dark-gray-800;
        //  }
        //}

        p {
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;
          color: $color-dark-gray-800;
        }

        &:last-child {
          flex: 0 1 219px;
          border-right: initial;
        }

        &:first-child {
          justify-content: flex-start;
          flex: 0 1 447px;
          border-right: initial;
          padding: 8px 32px;

          p {
            font-size: 20px;
            line-height: 32px;
            color: $color-royal-blue-800;
            font-weight: 600;
          }
        }

        &:nth-child(2), &:nth-child(3) {
          flex: 0 1 219px;
        }
      }
    }

    ol {
      li {
        display: flex;
        margin: 0 0 72px 0;

        &:last-child {
          margin: 0;
        }

        span {
          flex: 0 0 72px;
          height: 72px;
          border-radius: 12px;
          margin: 0 34px 0 0;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        p {
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;

          strong {
            display: block;
            font-size: 24px;
            line-height: 32px;
            color: $color-royal-blue-800;
            margin: 0 0 16px 0;
          }
        }
      }
    }
  }
}

@media(max-width: 1023px) {
  .price {
    &__title {
      padding: 0 24px;

      h1 {
        font-size: 32px;
        line-height: 36px;
      }

      h2 {
        font-size: 32px;
        line-height: 36px;
      }

      span {
        margin: 0 0 28px 0;
      }

      strong {
        margin: 0 0 9px 0;
      }
    }

    &__table {
      padding: 20px 0;
      border-radius: initial;
      margin: 90px 0 0 0;

      h2 {
        font-size: 32px;
        line-height: 36px;
        margin: 0 0 33px 0;
      }

      &.box-shadow {
        padding: 39px 50px 52px;
        margin: 33px auto 0;
      }

      ul {
        flex-wrap: wrap;

        &:first-child {
          li {
            &:first-child {
              display: none;
            }
          }
        }

        &:nth-child(2n + 1) {
          border-radius: initial;
          background-color: initial;
        }

        li {
          &:first-child {
            flex: 0 1 100%;
            justify-content: center;
            border-bottom: 1px solid $color-dark-gray-400;
            background-color: $color-dark-gray-200;

            p {
              font-size: 16px;
              line-height: 20px;
              text-align: center;
            }
          }

          &:nth-child(2), &:nth-child(3), &:last-child {
            flex: 0 1 33.333%;
          }
        }
      }
    }

    .container {
      padding: 0;
    }
  }
}

@media (max-width: 767px) {
  .price {
    margin: 0 0 68px 0;
    padding: 95px 0 0 0;

    &__table {
      margin: 33px 0 0 0;

      ul {
        li {
          padding: 4px;

          &:first-child {
            padding: 4px;
          }

          p {
            font-size: 14px;
            line-height: 18px;
          }
        }
      }
    }
  }
}

@media (max-width: 567px) {
  .price {
    &__table {
      ol {
        li {
          align-items: center;
          flex-direction: column;
          text-align: center;
          margin: 0 0 56px 0;

          span {
            height: 44px;
            width: 44px;
            flex: 0 0 44px;
            margin: 0 0 14px 0;
          }
          p{
            strong {
              margin: 0 0 9px 0;
            }
          }
        }
      }
    }
  }
}