.google-map {
  margin: 198px 0;

  &__content {
    display: flex;
    max-width: 920px;
    margin: 0 auto;
    padding: 39px 43px 59px;
    box-shadow: 0px 0px 10px rgba(99, 184, 102, 0.16);
    border-radius: 8px;

    &_description {
      flex: 0 1 50%;
    }

    &_map {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex: 0 0 377px;
      height: 344px;
      margin: 0 auto 30px;

      iframe {
        border-radius: 8px;
        width: 377px !important;
        max-width: 417px !important;
        height: 344px !important;
      }
    }

    &_description {
      display: flex;
      flex-direction: column;
      justify-content: center;

      strong {
        font-size: 32px;
        line-height: 36px;
        font-weight: 600;
        color: $color-royal-blue-800;
        margin: 0 0 24px 0;
      }

      a {
        color: $color-punchy-green-800;
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
        margin: 0 0 24px 0;
      }

      p {
        font-weight: 400;
      }
    }
  }
}

@media (max-width: 1023px) {
  .google-map {
    &__content {
      &_map {
        iframe {
          width: 265px !important;
          height: 242px !important;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .google-map {
    margin: 93px 0 76px;

    &__content {
      flex-direction: column;
      padding: 64px 31px 59px;

      &_description {
        flex: initial;
        margin: 0 0 40px 0;
      }

      &_map {
        margin: 0 auto;
        flex: initial;
        height: 242px !important;
      }
    }
  }
}

@media (max-width: 374px) {
  .google-map {
    &__content {
      &_description {
        a {
          font-size: 18px;
        }
      }

      &_map {
        width: 200px !important;

        iframe {
          width: 200px !important;
        }
      }
    }
  }
}