.our-team {
  margin: 107px 0;

  h2 {
    margin: 0 0 0 50px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 34px -20px -25px;

    li {
      width: calc((100% - (20px * 8)) / 4);
      margin: 25px 20px;

      a {
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        transition: 500ms;

        @media (min-width: 1200px) {
          &:hover {
            span {
              img {
                transform: scale(1.1);
              }

              svg {
                fill: $color-punchy-green;
              }
            }

            strong {
              color: $color-punchy-green;
            }
          }
        }

        span {
          position: relative;
          flex: 0 0 140px;
          width: 140px;
          margin: 0 0 32px 0;

          img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 500ms;
          }

          svg {
            position: absolute;
            border-radius: 5px;
            bottom: 10px;
            right: 0;
            width: 28px;
            height: 28px;
            border: 2px solid $color-white;
            fill: $color-royal-blue-800;
            transition: 500ms;
          }
        }

        strong {
          font-size: 24px;
          line-height: 32px;
          font-weight: 600;
          color: $color-royal-blue-800;
          margin: 0 0 4px 0;
          transition: 500ms;
        }

        p {
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .our-team {
    h2 {
      font-size: 32px;
      line-height: 36px;
    }
  }
}

@media (max-width: 767px) {
  .our-team {
    margin: 68px 0 54px;

    h2 {
      margin: 0;
      text-align: center;
    }

    ul {
      li {
        width: calc((100% - (20px * 4)) / 2);
      }
    }
  }
}

@media (max-width: 475px) {
  .our-team {
    ul {
      margin: 35px -13px -15px;

      li {
        width: calc((100% - (13px * 4)) / 2);
        margin: 15px 13px;

        a {
          span {
            flex: 0 0 100px;
            width: 100px;
            margin: 0 0 16px 0;

            svg {
              display: none;
            }
          }

          strong {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
  }
}