.accurate {
  margin: 88px 0 70px;

  &__title {
    max-width: 730px;
    margin: 0 auto;

    h2 {
      text-align: center;

      span {
        color: $color-punchy-green-800;
      }
    }

    p {
      font-weight: 400;
      margin: 32px 0 0 0;
      text-align: center;
    }
  }

  &__content {
    margin: 120px 0 0 0;
    display: flex;
    justify-content: space-between;

    .title-top {
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      color: $color-punchy-green-800;
      text-transform: uppercase;
      margin: 0 0 40px 0;
    }

    &_initiatives {
      position: relative;
      flex: 0 1 540px;

      &:before {
        content: '';
        position: absolute;
        right: -192px;
        top: 50%;
        transform: translateY(-50%);
        width: 192px;
        height: 390px;
        background-image: url("../img/accurate/pipes.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 192px 390px;
      }

      ul {
        li {
          padding: 44px 55px 44px 40px;
          box-shadow: 4px 4px 100px rgba(108, 123, 170, 0.12);
          margin: 0 0 24px 0;

          > img {
            display: none;
            width: 48px;
            height: 48px;
            margin: 0 0 4px 0;
          }

          span {
            display: block;
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
            margin: 0 0 24px 0;
            color: $color-royal-blue-800;
          }

          p {
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
          }
        }
      }
    }

    &_roles {
      position: relative;
      z-index: 2;
      flex: 0 1 350px;

      ul {
        li {
          padding: 48px 0;
          border-bottom: 1px solid #E6E6E9;
          background-color: $color-white;

          &:first-child {
            padding: 0 0 48px 0;
          }

          &:last-child {
            padding: 48px 0 0 0;
            border-bottom: initial;
          }

          a {
            display: flex;
            flex-direction: column;
            @media (min-width: 1200px) {
              &:hover {
                p {
                  &:first-child {
                    strong {
                      &:after {
                        transform: translateX(20px) translateY(-50%);
                      }
                    }
                  }
                }
              }
            }

            p {
              &:first-child {
                display: inline-flex;
                align-items: center;

                span {
                  flex: 0 0 56px;
                  height: 56px;
                  margin: 0 24px 0 0;
                  img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                  }
                }

                strong {
                  position: relative;
                  font-size: 24px;
                  line-height: 32px;
                  color: $color-royal-blue-800;
                  padding: 0 40px 0 0;

                  &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateX(0) translateY(-50%);
                    width: 16px;
                    height: 16px;
                    background-size: 16px 16px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-image: url("../img/accurate/arrow-right.svg");
                    transition: 500ms;
                  }
                }
              }

              &:nth-child(2) {
                small {
                  font-size: 16px;
                  line-height: 24px;
                  font-weight: 400;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media(max-width: 1199px) {
  .accurate {
    margin: 48px 0 80px;

    &__content {
      flex-direction: column;

      &_initiatives {
        flex: initial;
        padding: 0 0 200px 0;

        &:before {
          width: 211px;
          height: 312px;
          right: 50%;
          top: initial;
          transform: translateX(50%) rotate(90deg);
          bottom: -61px;
          background-size: contain;
        }
      }

      &_roles {
        flex: initial;
      }
    }
  }
}

@media (max-width: 1023px) {
  .accurate {
    &__title {
      h2, p {
        text-align: left;
      }

      p {
        margin: 8px 0 0 0;
      }
    }

    &__content {
      margin: 64px 0 0 0;

      .title-top {
        margin: 0 0 20px 0;
      }

      &_initiatives {
        ul {
          li {
            margin: 0 0 17px 0;
            padding: 24px;

            > img {
              display: block;
            }

            span {
              margin: 0 0 12px 0;
            }
          }
        }
      }

      &_roles {
        margin: 38px 0 0 0;
        ul {
          li {
            padding: 24px 0;

            &:first-child {
              padding: 0 0 24px 0;
            }

            &:last-child {
              padding: 24px 0 0 0;
            }

            a {
              p {
                &:first-child {
                  margin: 0 0 8px 0;

                  span {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}