.hero {
  position: relative;
  padding: 80px 0 275px 0;

  &.background-1 {
    background: radial-gradient(59.83% 127.2% at 111.77% 56.02%, #63B866 2.53%, #2A326D 42.88%, #1B2345 90.1%);
  }

  &.background-2 {
    background: $color-royal-blue-800;
  }

  &.background-3 {
    background: linear-gradient(152.58deg, #2A326D 48.03%, #EDA13D 99.11%);
  }

  &.background-4 {
    background: radial-gradient(176.12% 91.11% at 100% 120%, #63B866 0%, #2A326D 100%);
  }

  &:before {
    content: '';
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 0;
    border-style: solid;
    border-width: 0 0 180px 100vw;
    border-color: transparent transparent #fff transparent;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 98px 0 0 0;

    &_title {
      position: relative;
      z-index: 2;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      flex: 0 1 50%;
      margin: 0 50px 0 0;

      h1 {
        font-size: 44px;
        line-height: 54px;
      }

      h1, h2 {
        color: $color-white;

        span {
          color: $color-punchy-green;
        }
      }

      > img {
        align-self: flex-start;
        height: 40px;
        margin: 0 0 68px 0;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        margin: 32px 0 0 0;
        color: $color-gray-secondary;

        span {
          color: $color-punchy-green-800;
        }
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        margin: 44px -39px;

        li {
          width: calc((100% - (39px * 6)) / 3);
          margin: 13px 39px;
          height: 27px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }

      .button {
        align-self: flex-start;
        margin: 48px 0 0 0;
      }

      .input-wrapper {
        margin: 40px auto 0;

        .button {
          margin: 0;
          align-self: initial;
        }
      }
    }

    &_img {
      flex: 0 1 540px;

      &.background-img {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          width: 825px;
          height: 825px;
          opacity: 0.7;
          border-radius: 50%;
        }

        &._light-green {
          &:before {
            background: radial-gradient(50% 50% at 50% 50%, #0C7900 0%, rgba(12, 121, 0, 0) 100%);
          }
        }

        &._light-orange {
          &:before {
            background: radial-gradient(50% 50% at 50% 50%, #B56700 0%, rgba(181, 103, 0, 0) 100%);
          }
        }

        &._light-blue {
          &:before {
            background: radial-gradient(50% 50% at 50% 50%, #1B2345 0%, rgba(27, 35, 69, 0) 100%);
          }
        }
      }

      &.background-frame {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          opacity: .5;
          width: 717px;
          height: 589px;
          bottom: -104px;
          left: -106px;
          background-image: url("../img/case-study/bg-frame.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
      }

      > picture {
        display: block;
        position: relative;
        z-index: 2;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    &_table {
      flex: 0 1 430px;

      > p {
        color: $color-white;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        text-align: center;
        margin: 0 0 16px 0;
      }

      .input-container {
        display: block;
        margin: 0 0 20px 0;

        &.checkbox {
          display: flex;

          input {
            width: 20px;
            height: 20px;
            margin: 0 16px 0 0;
          }

          p {
            font-size: 12px;
            line-height: 20px;
            color: $color-dark-gray-600;
            font-weight: 400;
          }
        }

        p {
          font-size: 14px;
          line-height: 18px;
          font-weight: 800;
          color: $color-white;
          margin: 0 0 4px 0;
        }

        &:last-child {
          margin: 0;
        }
      }

      .button {
        width: 100%;
      }

      ul {
        display: none;
      }

      strong {
        display: none;
      }
    }

    .comment-hero {
      flex: 0 1 462px;

      &__top {
        position: relative;

        span {
          display: block;

          &:nth-child(1) {
            width: 245px;
            height: 65px;
            border-bottom: 1px solid $color-royal-blue-200;
            padding: 0 0 24px 0;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              object-position: left;
            }
          }

          &:nth-child(2) {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            width: 150px;
            height: 150px;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              border-radius: 50%;
            }
          }
        }
      }

      &__bottom {
        position: relative;
        padding: 62px 0 0 0;
        background-image: url("../img/commas-b.svg");
        background-repeat: no-repeat;
        background-size: 32px 28px;
        background-position: left 24px;

        p {
          font-size: 24px;
          line-height: 32px;
          font-weight: 400;
          color: $color-royal-blue-200;
        }

        small {
          display: block;
          margin: 24px 0 0 0;
          font-size: 14px;
          line-height: 18px;
          font-weight: 500;
          color: $color-royal-blue-200;
        }
      }
    }
  }

  &__reasons-list {
    margin: 126px 0 136px;

    ul {
      display: flex;
      flex-wrap: wrap;
      margin: -30px;

      li {
        position: relative;
        width: calc((100% - (30px * 6)) / 3);
        margin: 30px;
        min-height: 123px;
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0px 4px 10px rgba(42, 50, 109, 0.1);
        border-radius: 8px;
        padding: 32px 42px 27px;

        &:before {
          content: '';
          position: absolute;
          right: -10px;
          bottom: -10px;
          width: 100%;
          height: 100%;
          background-image: url("../img/hero/bg-reasons.svg");
          background-size: 320px 123px;
          background-repeat: no-repeat;
          background-position: right bottom;
        }

        p {
          display: flex;
          flex-direction: column;

          strong {
            font-size: 32px;
            line-height: 36px;
            font-weight: 600;
            color: $color-white;
          }

          small {
            margin: 4px 0 0 0;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $color-gray-secondary;
          }
        }
      }
    }
  }

  &__anchor-list {
    position: relative;
    margin: 136px auto 0;
    max-width: 825px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background: $color-dark-gray-600;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    ul {
      position: relative;
      display: flex;


      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background: $color-dark-gray-600;
      }

      li {
        white-space: nowrap;
        position: relative;
        margin: 0 48px 0 0;
        color: $color-dark-gray-600;
        padding: 0 0 16px 0;
        transition: 500ms;

        @media (min-width: 1200px) {
          &:hover {
            color: $color-punchy-green-800;

            a {
              color: $color-punchy-green-800;
            }
          }
        }

        &.active {
          color: $color-punchy-green-800;

          a {
            color: $color-punchy-green-800;
          }

          &:before {
            background-color: $color-punchy-green-800;
          }
        }

        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
          width: 100%;
        }

        a {
          color: $color-dark-gray-600;
          transition: 500ms;
        }

        &:last-child {
          margin: 0;
        }
      }
    }
  }

  &__subscription {
    margin: 104px auto 0;
    max-width: 718px;

    h3 {
      text-align: center;
      color: $color-white;
    }

    p{
      color: $color-dark-gray-600;
      margin: 24px 0 0 0;
      font-weight: 400;
      text-align: center;
    }
  }

  .partners {
    position: relative;
    z-index: 2;
    margin: 67px 0 0 0;
  }
}

@media (max-width: 1023px) {
  .hero {
    padding: 80px 0 150px;

    &:before {
      content: '';
      border-width: 0 0 48px 100vw;
    }

    &__content {
      flex-direction: column;
      padding: 10px 0 0 0;

      &_table {
        flex: initial;
        margin: 47px 0 0 0;

        p {
          text-align: left;
        }

        ul {
          display: flex;
          flex-wrap: wrap;
          margin: 44px -39px;

          li {
            width: calc((100% - (39px * 6)) / 3);
            margin: 13px 39px;
            height: 27px;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }

        strong {
          display: block;
          margin: 56px 0 0 0;
          font-size: 24px;
          line-height: 32px;
          font-weight: 600;
          color: $color-white;
          text-align: center;
        }
      }

      &_title {
        flex: initial;
        margin: 0;

        h1 {
          font-size: 32px;
          line-height: 36px;
        }

        p {
          margin: 24px 0 0 0;
        }

        .button {
          margin: 32px 0 0 0;
        }

        ul {
          display: none;
        }

      }

      &_img {
        flex: initial;
        max-width: 500px;
        margin: 44px auto 0;

        &.background-img {

          &:before {
            width: 400px;
            height: 400px;
          }
        }
      }

      .comment-hero {
        flex: initial;
        margin: 64px 0 0 0;

        &__top {
          display: flex;
          align-items: center;
          justify-content: center;

          span {
            &:nth-child(1) {
              order: 2;
              padding: 0;
              height: 34px;
              width: initial;
              border-bottom: initial;
              margin: 0 0 0 24px;
            }

            &:nth-child(2) {
              display: flex;
              order: 1;
              position: static;
              transform: initial;
              top: initial;
            }
          }
        }

        &__bottom {
          text-align: center;
          background-position: center 12px;
        }
      }
    }

    &__reasons-list {
      ul {
        li {
          p {
            strong {
              font-size: 24px;
              line-height: 32px;
            }
          }
        }
      }
    }

    .partners {
      margin: 44px 0 0 0;
    }
  }
}

@media (max-width: 767px) {
  .hero {
    &__content {
      &_img {
        &.background-frame {
          &:before {
            display: none;
          }
        }
      }
    }

    &__reasons-list {
      margin: 56px 0;

      ul {
        margin: 0;
        flex-direction: column;

        li {
          width: 100%;
          margin: 0 0 34px 0;

          &:last-child {
            margin: 0;
          }
        }
      }
    }

    &__anchor-list {
      justify-content: flex-start;
    }
  }
}

@media(max-width: 374px) {
  .hero {
    &__content {
      &_table {
        ul {
          li {
            width: 100%;
          }
        }
      }
    }
  }
}
