.hero {
  position: relative;
  padding: 80px 0 275px 0;

  &.background-1 {
    background: radial-gradient(59.83% 127.2% at 111.77% 56.02%, #63B866 2.53%, #2A326D 42.88%, #1B2345 90.1%);
  }

  &.background-2 {
    background: $color-royal-blue-800;
  }

  &.background-3 {
    background: linear-gradient(152.58deg, #2A326D 48.03%, #EDA13D 99.11%);
  }

  &.background-4 {
    background: linear-gradient(180deg, rgba(42, 50, 109, 1) 61%, rgba(99, 184, 102, 1) 96%);
  }

  &:before {
    content: '';
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 0;
    border-style: solid;
    border-width: 0 0 180px 100vw;
    border-color: transparent transparent #fff transparent;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 98px 0 0 0;

    &_title {
      position: relative;
      z-index: 2;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      flex: 0 1 50%;
      margin: 0 50px 0 0;

      h1 {
        font-size: 44px;
        line-height: 54px;
      }

      h1, h2 {
        color: $color-white;

        span {
          color: $color-punchy-green;
        }
      }

      > img {
        align-self: flex-start;
        height: 40px;
        margin: 0 0 68px 0;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        margin: 32px 0 0 0;
        color: $color-gray-secondary;

        span {
          color: $color-punchy-green-800;
        }
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        margin: 44px -39px;

        li {
          width: calc((100% - (39px * 6)) / 3);
          margin: 13px 39px;
          height: 27px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }

      .button {
        align-self: flex-start;
        margin: 48px 0 0 0;
      }

      .input-wrapper {
        margin: 40px auto 0;

        .button {
          margin: 0;
          align-self: initial;
        }
      }
    }

    &_img {
      flex: 0 1 540px;

      &.background-img {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          width: 825px;
          height: 825px;
          opacity: 0.7;
          border-radius: 50%;
        }

        &._light-green {
          &:before {
            background: radial-gradient(50% 50% at 50% 50%, #0C7900 0%, rgba(12, 121, 0, 0) 100%);
          }
        }

        &._light-orange {
          &:before {
            background: radial-gradient(50% 50% at 50% 50%, #B56700 0%, rgba(181, 103, 0, 0) 100%);
          }
        }

        &._light-blue {
          &:before {
            background: radial-gradient(50% 50% at 50% 50%, #1B2345 0%, rgba(27, 35, 69, 0) 100%);
          }
        }
      }

      &.background-frame {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          opacity: .5;
          width: 717px;
          height: 589px;
          bottom: -104px;
          left: -106px;
          background-image: url("../img/case-study/bg-frame.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
      }

      > picture {
        display: block;
        position: relative;
        z-index: 2;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    &_table {
      flex: 0 1 430px;

      > p {
        color: $color-white;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        text-align: center;
        margin: 0 0 16px 0;
      }

      .input-container {
        display: block;
        margin: 0 0 20px 0;

        &.checkbox {
          display: flex;

          input {
            width: 20px;
            height: 20px;
            margin: 0 16px 0 0;
          }

          p {
            font-size: 12px;
            line-height: 20px;
            color: $color-dark-gray-600;
            font-weight: 400;
          }
        }

        p {
          font-size: 14px;
          line-height: 18px;
          font-weight: 800;
          color: $color-white;
          margin: 0 0 4px 0;
        }

        &:last-child {
          margin: 0;
        }
      }

      .button {
        width: 100%;
      }
    }
  }

  .partners {
    position: relative;
    z-index: 2;
    margin: 67px 0 0 0;
  }
}

@media (max-width: 1023px) {
  .hero {
    padding: 80px 0 150px;

    &:before {
      content: '';
      border-width: 0 0 48px 100vw;
    }

    &__content {
      flex-direction: column;
      padding: 10px 0 0 0;

      &_table {
        flex: initial;
      }

      &_title {
        flex: initial;
        margin: 0;

        h1 {
          font-size: 32px;
          line-height: 36px;
        }

        p {
          margin: 24px 0 0 0;
        }

        .button {
          margin: 32px 0 0 0;
        }

      }

      &_img {
        flex: initial;
        max-width: 500px;
        margin: 44px auto 0;

        &.background-img {

          &:before {
            width: 400px;
            height: 400px;
          }
        }
      }
    }

    .partners {
      margin: 44px 0 0 0;
    }
  }
}

@media (max-width: 767px) {
  .hero {
    &__content {
      &_img {
        &.background-frame {
          &:before {
            display: none;
          }
        }
      }
    }
  }
}

@media(max-width: 474px) {
  .hero {
    &__content {
      &_title {
        ul {
          li {
            width: 100%;
          }
        }
      }
    }
  }
}
