.hero {
  position: relative;
  padding: 80px 0 275px 0;

  &.background-1 {
    background: radial-gradient(59.83% 127.2% at 111.77% 56.02%, #63B866 2.53%, #2A326D 42.88%, #1B2345 90.1%);
  }

  &.background-2 {
    background: $color-royal-blue-800;
  }

  &.background-3 {
    background: linear-gradient(152.58deg, #2A326D 48.03%, #EDA13D 99.11%);
  }

  &.background-4 {
    background: radial-gradient(176.12% 91.11% at 100% 120%, #63B866 0%, #2A326D 100%);
  }

  &.background-5 {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 50%, rgba(243, 242, 243, 1) 100%);

    &:before {
      bottom: initial;
      top: 260px;
      border-width: 240px 100vw 0 0;
      border-color: #fff transparent transparent transparent;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 260px;
      background-color: $color-white;
    }
  }

  &.vertical-align {
    .hero {
      &__content {
        flex-direction: column;
        justify-content: initial;

        &_title, &_img {
          flex: initial;
        }

        &_img {
          margin: 76px 0 0 0;
        }

        &_title {
          max-width: 590px;
        }
      }
    }
  }

  &.customers-style {
    padding: 80px 0 550px 0;
    @media (max-width: 767px) {
      padding: 80px 0 350px 0;
    }
  }

  &:before {
    content: '';
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 0;
    border-style: solid;
    border-width: 0 0 180px 100vw;
    border-color: transparent transparent #fff transparent;
  }

  &__content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 98px 0 0 0;

    &_title {
      position: relative;
      z-index: 2;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      flex: 0 1 50%;
      margin: 0 50px 0 0;

      &.blue-text {
        h1, h2, h3 {
          color: $color-royal-blue-800;
        }
      }

      h1 {
        font-size: 44px;
        line-height: 54px;
      }

      h1, h2, h3 {
        color: $color-white;

        span {
          color: $color-punchy-green;
        }
      }

      > img {
        align-self: flex-start;
        height: 40px;
        margin: 0 0 68px 0;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        margin: 32px 0 0 0;
        color: $color-gray-secondary;

        span {
          color: $color-punchy-green-800;
        }
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        margin: 44px -39px;

        li {
          width: calc((100% - (39px * 6)) / 3);
          margin: 13px 39px;
          height: 27px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }

      ol {
        margin: 40px 0 0 0;

        li {
          position: relative;
          color: $color-gray-secondary;
          padding: 0 0 0 64px;
          margin: 0 0 40px 0;
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;

          &:last-child {
            margin: 0;
          }

          span {
            color: $color-punchy-green;
          }

          &:before {
            content: '';
            position: absolute;
            top: 5px;
            left: 5px;
            width: 32px;
            height: 32px;
            background-image: url("../img/checked.svg");
            background-size: 32px 32px;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
      }

      .button {
        align-self: flex-start;
        margin: 48px 0 0 0;
      }

      .input-wrapper {
        margin: 40px auto 0;

        .button {
          margin: 0;
          align-self: initial;
        }
      }
    }

    &_img {
      flex: 0 1 540px;

      &.small {
        flex: 0 1 244px;
      }

      &.background-img {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          width: 825px;
          height: 825px;
          opacity: 0.7;
          border-radius: 50%;
        }

        &._light-green {
          &:before {
            background: radial-gradient(50% 50% at 50% 50%, #0C7900 0%, rgba(12, 121, 0, 0) 100%);
          }
        }

        &._light-orange {
          &:before {
            background: radial-gradient(50% 50% at 50% 50%, #B56700 0%, rgba(181, 103, 0, 0) 100%);
          }
        }

        &._light-blue {
          &:before {
            background: radial-gradient(50% 50% at 50% 50%, #1B2345 0%, rgba(27, 35, 69, 0) 100%);
          }
        }
      }

      &.platform {
        height: 369px;
        flex: 0 1 478px;

        ol {
          width: 100%;
          height: 100%;
          position: relative;

          li {
            animation: show-logo 6s linear infinite;
            @keyframes show-logo {
              0% {
                opacity: 0.3;
              }
              30% {
                opacity: 1;
              }
              50%{
                opacity: 0.3;
              }
              100% {
                opacity: 0.3;
              }
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }

            &:nth-child(1) {
              position: absolute;
              top: 100px;
              left: 0;
              width: 182px;
              height: 291px;
            }

            &:nth-child(2) {
              position: absolute;
              top: 0;
              left: 3px;
              width: 320px;
              height: 163px;
              animation-delay: 2s;
            }

            &:nth-child(3) {
              position: absolute;
              top: 152px;
              left: initial;
              right: 0;
              width: 229px;
              height: 171px;
              animation-delay: 4s;
            }
          }
        }
      }

      > picture {
        display: block;
        position: relative;
        z-index: 2;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      > img {
        display: block;
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      ul {
        display: flex;
        flex-wrap: wrap;

        li {
          &:nth-child(1) {
            width: 393px;
            height: 249px;
            margin: 0 137px 23px 0;
          }

          &:nth-child(2) {
            width: 222px;
            height: 240px;
            margin: 0 23px 0 54px;
          }

          &:nth-child(3) {
            width: 226px;
            height: 170px;
          }

          img {
            border-radius: 12px;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    &_lottie {
      flex: 0 1 540px;
    }

    &_description {
      border-radius: 4px;
      box-shadow: 0px 8px 30px rgba(108, 123, 170, 0.12);
      flex: 0 0 540px;

      ul {
        position: relative;
        z-index: 2;
        padding: 37px 34px;
        background-color: $color-white;

        li {
          display: flex;
          margin: 0 0 30px 0;

          &:last-child {
            margin: 0;
          }

          p {
            font-weight: 400;

            span {
              font-weight: 600;
              color: $color-royal-blue-800;
            }
          }

          p + p {
            margin: 0 0 0 30px;
          }

          p {
            &:first-of-type {
              flex: 0 0 98px;
              text-align: right;
            }
          }
        }
      }

      > p {
        position: relative;
        z-index: 2;
        background-color: $color-white;
        padding: 63px;

        strong {
          display: block;
          font-size: 56px;
          line-height: 64px;
          color: $color-royal-blue-800;
          font-weight: 600;
        }

        small {
          display: block;
          font-size: 24px;
          line-height: 32px;
          font-weight: 600;
          color: $color-royal-blue-800;
        }
      }

      &.background-frame {
        position: relative;

        &._variant {
          &:before {
            bottom: -180px;
            left: -168px;
            background-image: url("../img/bg-404.svg");
          }
        }

        &:before {
          content: '';
          position: absolute;
          opacity: .5;
          width: 717px;
          height: 589px;
          bottom: -104px;
          left: -106px;
          background-image: url("../img/case-study/bg-frame.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
      }

    }

    &_table {
      flex: 0 1 430px;

      > p {
        color: $color-white;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        text-align: center;
        margin: 0 0 16px 0;
      }

      .input-container {
        display: block;
        margin: 0 0 20px 0;

        &.checkbox {
          display: flex;
        }

        p {
          font-size: 14px;
          line-height: 18px;
          font-weight: 800;
          color: $color-white;
          margin: 0 0 4px 0;
        }

        &:last-child {
          margin: 0;
        }
      }

      .button {
        width: 100%;
      }

      ul {
        display: none;
      }

      strong {
        display: none;
      }
    }

    .comment-hero {
      flex: 0 1 462px;

      &__top {
        position: relative;

        span {
          display: block;

          &:nth-child(1) {
            width: 245px;
            height: 65px;
            border-bottom: 1px solid $color-royal-blue-200;
            padding: 0 0 24px 0;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              object-position: left;
            }
          }

          &:nth-child(2) {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            width: 150px;
            height: 150px;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              border-radius: 50%;
            }
          }
        }
      }

      &__bottom {
        position: relative;
        padding: 62px 0 0 0;
        background-image: url("../img/commas-b.svg");
        background-repeat: no-repeat;
        background-size: 32px 28px;
        background-position: left 24px;

        p {
          font-size: 24px;
          line-height: 32px;
          font-weight: 400;
          color: $color-royal-blue-200;
        }

        small {
          display: block;
          margin: 24px 0 0 0;
          font-size: 14px;
          line-height: 18px;
          font-weight: 500;
          color: $color-royal-blue-200;
        }
      }
    }
  }

  &__reasons-list {
    margin: 126px 0 136px;

    ul {
      display: flex;
      flex-wrap: wrap;
      margin: -30px;

      li {
        position: relative;
        width: calc((100% - (30px * 6)) / 3);
        margin: 30px;
        min-height: 123px;
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0px 4px 10px rgba(42, 50, 109, 0.1);
        border-radius: 8px;
        padding: 32px 42px 27px;

        &:before {
          content: '';
          position: absolute;
          right: -10px;
          bottom: -10px;
          width: 100%;
          height: 100%;
          background-image: url("../img/hero/bg-reasons.svg");
          background-size: 320px 123px;
          background-repeat: no-repeat;
          background-position: right bottom;
        }

        p {
          display: flex;
          flex-direction: column;

          strong {
            font-size: 32px;
            line-height: 36px;
            font-weight: 600;
            color: $color-white;
          }

          small {
            margin: 4px 0 0 0;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $color-gray-secondary;
          }
        }
      }
    }
  }

  &__values {
    margin: 85px 0 133px;

    h1, h2, h3 {
      text-align: center;
      color: $color-white;
      margin: 0 0 45px 0;
    }

    ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: -17px;

      li {
        padding: 32px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 4px;
        margin: 17px;
        width: calc((100% - (17px * 4)) / 2);

        p {
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;

          strong {
            font-size: 18px;
            line-height: 32px;
            font-weight: 600;
            color: $color-white;
          }

          span {
            color: $color-punchy-green;
          }
        }
      }
    }
  }

  .partners {
    position: relative;
    z-index: 2;
    margin: 67px 0 0 0;
  }
}

@media (max-width: 1023px) {
  .hero {
    padding: 80px 0 150px;

    &.vertical-align {
      .hero {
        &__content {

          &_img {
            max-width: 100%;
          }

          &_title {
            max-width: 100%;
          }
        }
      }
    }

    &:before {
      content: '';
      border-width: 0 0 48px 100vw;
    }

    &__content {
      flex-direction: column;
      padding: 10px 0 0 0;

      &_table {
        flex: initial;
        margin: 47px 0 0 0;

        p {
          text-align: left;
        }

        ul {
          display: flex;
          flex-wrap: wrap;
          margin: 44px -39px;

          li {
            width: calc((100% - (39px * 6)) / 3);
            margin: 13px 39px;
            height: 27px;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }

        strong {
          display: block;
          margin: 56px 0 0 0;
          font-size: 24px;
          line-height: 32px;
          font-weight: 600;
          color: $color-white;
          text-align: center;
        }
      }

      &_title {
        flex: initial;
        margin: 0;

        &.text-align {
          text-align: center;

          .button {
            align-self: center;
          }
        }

        h1 {
          font-size: 32px;
          line-height: 36px;
        }

        p {
          margin: 24px 0 0 0;
        }

        .button {
          margin: 32px 0 0 0;
        }

        ul {
          display: none;
        }

        ol {
          li {
            padding: 0;
            margin: 0 0 24px 0;

            &:before {
              display: none;
            }
          }
        }

      }

      &_img {
        flex: initial;
        max-width: 500px;
        margin: 44px auto 0;

        &.collage {
          max-width: 375px;
        }

        &.background-img {

          &:before {
            width: 400px;
            height: 400px;
          }
        }

        &.platform{
          max-width: 478px;
          width: 100%;
        }

        ul {
          li {
            &:nth-child(1) {
              width: 241px;
              height: 152px;
              margin: 0 auto 14px 0;
            }

            &:nth-child(2) {
              width: 136px;
              height: 147px;
              margin: 0 17px 0 33px;
            }

            &:nth-child(3) {
              width: 138px;
              height: 104px;
            }
          }
        }
      }

      &_lottie {
        flex: initial;
        max-width: 500px;
        margin: 44px auto 0;
      }

      &_description {
        margin: 40px 0 0 0;
        flex: initial;
      }

      .comment-hero {
        flex: initial;
        margin: 64px 0 0 0;

        &__top {
          display: flex;
          align-items: center;
          justify-content: center;

          span {
            &:nth-child(1) {
              order: 2;
              padding: 0;
              height: 34px;
              width: initial;
              border-bottom: initial;
              margin: 0 0 0 24px;
            }

            &:nth-child(2) {
              display: flex;
              order: 1;
              position: static;
              transform: initial;
              top: initial;
            }
          }
        }

        &__bottom {
          text-align: center;
          background-position: center 12px;
        }
      }
    }

    &__reasons-list {
      ul {
        li {
          p {
            strong {
              font-size: 24px;
              line-height: 32px;
            }
          }
        }
      }
    }

    .partners {
      margin: 44px 0 0 0;
    }
  }
}

@media (max-width: 767px) {
  .hero {
    &__content {

      .comment-hero {
        &__bottom {
          p {
            font-size: 21px;
            line-height: 32px;
          }
        }
      }

      &_description {
        &.background-frame {
          &:before {
            display: none;
          }
        }
      }

      &_img{
        &.platform{
          display: none;
        }
      }
    }

    &__reasons-list {
      margin: 56px 0;

      ul {
        margin: 0;
        flex-direction: column;

        li {
          width: 100%;
          margin: 0 0 34px 0;

          &:last-child {
            margin: 0;
          }
        }
      }
    }

    &__values {
      ul {
        margin: 31px 0 0;

        li {
          width: 100%;
          margin: 0 0 24px 0;

          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 474px) {
  .hero {
    &__content {
      &_description {
        ul {
          padding: 25px 20px;

          li {
            flex-direction: column;
            margin: 0 0 18px 0;

            p {
              &:first-of-type {
                flex: initial;
                text-align: left;
              }
            }

            p + p {
              margin: initial;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 374px) {
  .hero {
    &__content {
      &_img {
        ul {
          li {
            &:nth-child(1) {
              margin: 0 auto 24px;
            }

            &:nth-child(2) {
              margin: 0 auto 24px;
            }

            &:nth-child(3) {
              margin: 0 auto;
            }
          }
        }
      }

      &_table {
        ul {
          li {
            width: 100%;
          }
        }
      }
    }
  }
}
