.hero {
  position: relative;
  padding: 80px 0 275px 0;
  background: radial-gradient(59.83% 127.2% at 111.77% 56.02%, #63B866 2.53%, #2A326D 42.88%, #1B2345 90.1%);

  &:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 0;
    border-style: solid;
    border-width: 0 0 180px 100vw;
    border-color: transparent transparent #fff transparent;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 98px 0 0 0;

    &_title {
      flex: 0 1 445px;
      margin: 0 50px 0 0;

      h1 {
        font-size: 44px;
        line-height: 54px;
        color: $color-white;

        span {
          color: $color-punchy-green;
        }
      }

      p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        margin: 32px 0 0 0;
        color: $color-gray-secondary;
      }

      .button {
        margin: 48px 0 0 0;
      }
    }

    &_lottie {
      flex: 0 1 540px;

      img {
        //display: none;
        width: 100%;
        height: 100%;
        object-fit: contain;

      }
    }
  }

  .partners {
    margin: 67px 0 0 0;
  }
}

//@media(max-width: 1199px){
//  .hero{
//    &__content{
//      &_lottie{
//        img{
//          display: block;
//        }
//      }
//    }
//  }
//}

@media (max-width: 1023px) {
  .hero {
    padding: 80px 0 150px;

    &:before {
      content: '';
      border-width: 0 0 48px 100vw;
    }

    &__content {
      flex-direction: column;
      padding: 10px 0 0 0;

      &_title {
        flex: initial;
        margin: 0;

        h1 {
          font-size: 32px;
          line-height: 36px;
        }

        p {
          margin: 24px 0 0 0;
        }

        .button {
          margin: 32px 0 0 0;
        }
      }

      &_lottie {
        flex: initial;
        max-width: 500px;
        margin: 44px auto 0;
      }
    }

    .partners {
      margin: 44px 0 0 0;
    }
  }
}