.revenue {
  position: relative;
  padding: 270px 0 109px;
  background: radial-gradient(291.17% 160.89% at 103.99% -47.18%, #EDA13D 0%, #2A326D 61.82%), linear-gradient(169.81deg, #FFFFFF -31.66%, rgba(213, 215, 229, 0.39) 73.42%);

  &__title {
    max-width: 682px;
    margin: 0 auto 48px;


    h2 {
      text-align: center;
      color: $color-white;
    }
  }

  .input-wrapper {
    max-width: 554px;
    margin: 0 auto 85px;
  }

  &__logos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 236px;
    margin: 80px -8px 100px;

    li {
      opacity: 0.9;
      width: calc((100% - (8px * 14)) / 7);
      height: calc((100% - (8px * 6)) / 3);
      margin: 8px;
      background: linear-gradient(180deg, rgba(108, 123, 170, 0.12) 0%, rgba(108, 123, 170, 0) 394.19%), linear-gradient(180deg, rgba(108, 123, 170, 0.12) 0%, rgba(108, 123, 170, 0) 100%);
      border-radius: 5px;
      display: flex;
      padding: 17px;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      &:first-child, &:last-child {
        margin: 88px 8px;
      }

      &:nth-child(6n + 2) {
        margin: -10px 8px 8px;
      }
    }
  }
}

@media(max-width: 1023px) {
  .revenue {
    background: $color-royal-blue-800;
    padding: 84px 0 24px 0;

    &__title {
      margin: 0 auto 33px;
    }

    &__logos {
      height: 291px;
      margin: 36px -4px;
      justify-content: center;

      li {
        padding: 9px;
        margin: 4px;
        width: calc((100% - (4px * 6)) / 3);
        height: calc((100% - (4px * 12)) / 6);

        &:first-child, &:last-child {
          margin: 4px;
        }

        &:nth-child(6n + 2) {
          margin: 4px;
        }

        &:nth-child(7), &:nth-child(11) {
          margin: 8px 4px;
        }
      }
    }
  }
}