.systems {
  position: relative;

  &.background-grey {
    z-index: 2;
    padding: 156px 0 208px;
    background: linear-gradient(167.45deg, rgba(213, 215, 229, 0.15) 11.06%, #FFFFFF 88.28%);

    &:before {
      content: '';
      position: absolute;
      left: -50%;
      top: 0;
      width: 500px;
      height: 0;
      border-style: solid;
      border-width: 40px 100vw 0 0;
      border-color: #fff transparent transparent transparent;
    }
  }

  &__content {
    display: flex;
    margin: 0 0 136px 0;

    &:last-child {
      margin: 0;
    }

    &.reverse {
      .systems {
        &__content {
          &_text {
            order: 2;
            padding: 0 0 0 115px;
          }

          &_card {
            order: 1;
          }
        }
      }
    }

    &_text {
      flex: 0 1 50%;
      padding: 0 115px 0 0;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;

      small {
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        color: $color-punchy-green-800;
        margin: 0 0 16px 0;
      }

      strong {
        font-size: 24px;
        line-height: 32px;
        color: $color-royal-blue-800;
        margin: 0 0 24px 0;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
      }

      a {
        align-self: flex-start;
        position: relative;
        font-size: 16px;
        line-height: 24px;
        color: $color-punchy-green-800;
        margin: 16px 0 0 0;
        padding: 0 24px 0 0;

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateX(0) translateY(-50%);
          width: 16px;
          height: 16px;
          background-size: 16px 16px;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url("../img/accurate/arrow-right.svg");
          transition: 500ms;
        }
      }

      ul {
        margin: 0 0 24px 0;

        li {
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;
          color: $color-dark-gray-800;
          padding: 0 0 0 40px;
          margin: 0 0 16px 0;
          background-image: url("../img/check.svg");
          background-repeat: no-repeat;
          background-size: 24px 24px;
          background-position: left top;

          &:last-child {
            margin: 0;
          }
        }
      }
    }

    &_card {
      flex: 0 1 50%;

      &.description {
        display: flex;
        justify-content: space-between;
        background: #FFFFFF;
        box-shadow: 0px 0px 40px rgba(108, 123, 170, 0.1);
        border-radius: 8px;
        padding: 44px 36px;
      }

      div {
        &:nth-child(1) {
          flex: 0 1 266px;

          span {
            display: inline-block;
            height: 42px;
            box-sizing: content-box;
            padding: 0 0 24px 0;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

          p {
            border-top: 1px solid #D5D7E5;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            margin: 0 0 16px 0;
            padding: 24px 0 0 0;
          }

          strong, small {
            display: block;
            font-size: 14px;
            line-height: 18px;
          }

          strong {
            color: $color-dark-gray-800;
          }

          small {
            color: $color-gray-secondary;
          }
        }

        &:nth-child(2) {
          display: flex;
          flex: 0 1 202px;
          align-items: center;
          justify-content: flex-end;

          span {
            width: 154px;
            height: 154px;

            img {
              border-radius: 50%;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }

       img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

  }
}

@media (max-width: 1199px) {
  .systems {
    &.background-grey {
      padding: 90px 0 10px;
    }

    &__content {
      flex-direction: column;
      margin: 0 0 57px 0;

      &.reverse {
        .systems {
          &__content {
            &_text {
              order: initial;
              padding: 0;
            }

            &_card {
              order: initial;
            }
          }
        }
      }

      &_text {
        flex: initial;
        padding: 0;
        margin: 0 0 40px 0;

        strong {
          margin: 0 0 16px 0;
        }
      }

      &_card {
        max-width: 540px;
        margin: 0 auto;

        &.description {
          position: relative;
          flex: initial;
          padding: 24px;
        }

        div {
          &:nth-child(1) {
            flex: initial;

            span {
              padding: 26px 0 51px 122px;
            }
          }

          &:nth-child(2) {
            position: absolute;
            left: 24px;
            top: 24px;
            flex: initial;
            width: 98px;
            height: 98px;

            span {
              width: 98px;
              height: 98px;
            }
          }
        }
      }
    }
  }
}