.systems {
  position: relative;

  &.background-grey {
    z-index: 2;
    padding: 156px 0 208px;
    background: linear-gradient(167.45deg, rgba(213, 215, 229, 0.15) 11.06%, #FFFFFF 88.28%);

    &:before {
      content: '';
      position: absolute;
      left: -50%;
      top: 0;
      width: 500px;
      height: 0;
      border-style: solid;
      border-width: 40px 100vw 0 0;
      border-color: #fff transparent transparent transparent;
    }
  }

  &__content {
    display: flex;
    margin: 0 0 136px 0;

    &:last-child {
      margin: 0;
    }

    &.reverse {
      .systems {
        &__content {
          &_text {
            order: 2;
            padding: 0 0 0 115px;
          }

          &_card {
            order: 1;
          }
        }
      }
    }

    &.background-triangle {
      position: relative;
      padding: 180px 0 241px;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 50%;
        transform: translateX(50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 100vw 180px 0;
        border-color: transparent #fff transparent transparent;
      }

      &:after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 50%;
        width: 120vw;
        height: 100%;
        background: linear-gradient(157deg, rgba(255, 255, 255, 1) 22%, rgba(213, 215, 229, 0.39) 100%);
        transform: translateX(-50%);
        opacity: .5;
      }

    }

    &.mod {
      margin: 0;
    }

    &_text {
      flex: 0 1 50%;
      padding: 0 115px 0 0;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;

      h2, h3 {
        margin: 0 0 32px 0;
      }

      small {
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        color: $color-punchy-green-800;
        margin: 0 0 16px 0;
      }

      strong {
        font-size: 24px;
        line-height: 32px;
        color: $color-royal-blue-800;
        margin: 0 0 24px 0;
      }

      strong + p {
        margin: 0 0 28px 0;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        margin: 0 0 16px 0;

        &:last-of-type {
          margin: 0;
        }

        span {
          font-weight: 600;
        }

        strong {
          font-size: 20px;
          line-height: 28px;
          font-weight: 400;
          color: $color-royal-blue-800;

          span {
            color: $color-punchy-green;
          }
        }
      }

      a {
        align-self: flex-start;
        position: relative;
        font-size: 16px;
        line-height: 24px;
        color: $color-punchy-green-800;
        margin: 16px 0 0 0;
        padding: 0 24px 0 0;

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateX(0) translateY(-50%);
          width: 16px;
          height: 16px;
          background-size: 16px 16px;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url("../img/accurate/arrow-right.svg");
          transition: 500ms;
        }
      }

      ul {
        margin: 0 0 24px 0;

        li {
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;
          color: $color-dark-gray-800;
          padding: 0 0 0 40px;
          margin: 0 0 16px 0;
          background-image: url("../img/check.svg");
          background-repeat: no-repeat;
          background-size: 24px 24px;
          background-position: left top;

          &:last-child {
            margin: 0;
          }
        }
      }
    }

    &_card {
      flex: 0 1 50%;

      &.description {
        display: flex;
        justify-content: space-between;
        background: #FFFFFF;
        box-shadow: 0px 0px 40px rgba(108, 123, 170, 0.1);
        border-radius: 8px;
        padding: 44px 36px;
      }

      &.list {
        position: relative;

        > p {
          position: absolute;
          left: -156px;
          top: 211px;
          font-size: 16px;
          line-height: 24px;
          font-weight: 500;
          color: $color-royal-blue-400;
          text-transform: uppercase;
          transform: rotateZ(-90deg);
          @media (max-width: 1439px) {
            position: static;
            transform: initial;
            margin: 0 0 8px 0;
          }
        }

        ul {
          li {
            display: flex;
            padding: 72px 32px;
            background-color: $color-white;
            box-shadow: 0px 4px 8px rgba(108, 123, 170, 0.25);
            border-radius: 4px;
            margin: 0 0 46px 0;
            @media (max-width: 567px) {
              flex-direction: column;
              padding: 24px;
              span {
                margin: 0 0 24px 0;
                width: 48px;
                height: initial;
                flex: 0 0 48px;
              }
            }

            &:last-child {
              margin: 0;
            }

            &:nth-child(2n + 2) {
              position: relative;

              &:before {
                content: '';
                position: absolute;
                z-index: -1;
                top: -125px;
                right: -26px;
                width: 610px;
                height: 304px;
                background-image: url("../img/platform/line.svg");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                @media (max-width: 1199px) {
                  right: -15px;
                  width: calc(100% + 30px);
                }
              }
            }

            span {
              flex: 0 0 60px;
              height: 60px;
              margin: 0 26px 0 0;
            }

            p {
              font-size: 16px;
              line-height: 24px;
              font-weight: 500;
              color: $color-royal-blue-800;

              strong {
                font-weight: 500;
                color: $color-punchy-green-800;
              }
            }
          }
        }

        ul + ul {
          margin: 40px 0 0 0;
        }
      }

      div {
        &:nth-child(1) {
          flex: 0 1 266px;

          span {
            display: inline-block;
            height: 42px;
            box-sizing: content-box;
            padding: 0 0 24px 0;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

          p {
            border-top: 1px solid #D5D7E5;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            margin: 0 0 16px 0;
            padding: 24px 0 0 0;
          }

          strong, small {
            display: block;
            font-size: 14px;
            line-height: 18px;
          }

          strong {
            color: $color-dark-gray-800;
          }

          small {
            color: $color-gray-secondary;
          }
        }

        &:nth-child(2) {
          display: flex;
          flex: 0 1 202px;
          align-items: center;
          justify-content: flex-end;

          span {
            width: 154px;
            height: 154px;

            img {
              border-radius: 50%;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

  }
}

@media (max-width: 1199px) {
  .systems {
    &.background-grey {
      padding: 90px 0 10px;
    }

    &__content {
      flex-direction: column;
      margin: 0 0 57px 0;

      &.background-triangle {
        padding: 0 0 112px 0;

        &:before {
          display: none;
        }
      }

      &.reverse {
        .systems {
          &__content {
            &_text {
              order: initial;
              padding: 0;
            }

            &_card {
              order: initial;
            }
          }
        }
      }

      &_text {
        flex: initial;
        padding: 0;
        margin: 0 0 40px 0;

        strong {
          margin: 0 0 16px 0;
        }
      }

      &_card {
        max-width: 540px;
        margin: 0 auto;

        &.description {
          position: relative;
          flex: initial;
          padding: 24px;
        }

        div {
          &:nth-child(1) {
            flex: initial;

            span {
              padding: 26px 0 51px 122px;
            }
          }

          &:nth-child(2) {
            position: absolute;
            left: 24px;
            top: 24px;
            flex: initial;
            width: 98px;
            height: 98px;

            span {
              width: 98px;
              height: 98px;
            }
          }
        }
      }
    }
  }
}